<div class="top-header hidden-sm hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <div class="social-top">
          <ul class="top-social">
            <li><a href="#/zcbase/account/login">Login</a></li>
            <li><a href="javascript:;">Skip to Navigation</a></li>
            <li><a href="javascript:;">Skip to Content</a></li>
            <li><a href="javascript:;">A-</a></li>
            <li><a href="javascript:;">A</a></li>
            <li><a href="javascript:;">A+</a></li>
            <li class="black-css"><a href="#">A</a></li>
            <li class="white-css"><a href="#">A</a></li>
            <li>
              <select class="form-control">
                <option>English</option>
                <option>Hindi</option>
                <option>Marathi</option>
              </select>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="pull-right">
          <div class="top-phone mr10">
            <input
              type="search"
              id="Search"
              name="q"
              placeholder="Search the site..."
              class="form-control"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="head-color">
  <div class="container">
    <div class="header-middle">
      <div class="col-md-1 col-sm-1 filmcity-logo">
        <img src="assets/mahait/images/FilmCityLogo.jpg" alt="Film City Logo" />
      </div>
      <div class="col-md-10 col-sm-10">
        <p class="maharashtra_film_stage">
          MAHARASHTRA FILM, STAGE & CULTURAL DEVELOPMENT CORPORATION LIMITED
          <br /><small style="font-weight:normal"
            >(A Government of Maharashtra Undertaking)</small
          >
        </p>

        <p></p>
      </div>

      <div class="col-md-1 col-sm-1 maharashtra-logo">
        <img
          src="assets/mahait/images/Seal_of_Maharashtra.png"
          alt="Maharashtra Logo"
        />
      </div>
    </div>
  </div>
</div>

<!-- Start Header Area -->
<header class="clearfix maha-header" id="header">
  <nav class="navbar navbar-default" id="myHeader navbar">
    <div class="container">
      <!--
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      -->
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="assets/mahait/html/home.html" class="active">Home</a>
          </li>
          <li class="drop">
            <a>About Us <i class="icon icon-caret-down-1"></i></a>
            <ul class="drop-down">
              <!--
                <li><a href="assets/mahait/html/about.html">languageMaster</a></li>
                <li><a [routerLink]="['/city-master']">city-master</a></li>
                <li><a [routerLink]="['/fees-master']">fees-master</a></li>
                <li><a [routerLink]="['/filmtype-master']">filmtype-master</a></li>
                <li><a [routerLink]="['/district-master']">district-master</a></li>
                <li><a [routerLink]="['/addon-type-master']">Addon-Type-Master</a></li>
                <li><a [routerLink]="['/location-type-master']">Location-Type-Master</a></li>
                <li><a [routerLink]="['/department-master']">Department-Master</a></li>
                <li><a [routerLink]="['/AddonTypeFeeMapingComponent']">Addon Type FeeMaping Component</a></li>
                <li><a [routerLink]="['/SubDepartmentMasterComponent']">SubDepartment Master Component</a></li>
                <li><a [routerLink]="['/WardMasterComponent']">WardMaster Component</a></li>
                <li><a [routerLink]="['/LocationMasterComponent']">LocationMaster Component</a></li>
              -->
              <li><a href="assets/mahait/html/about.html">History</a></li>
              <li><a href="#">Management</a></li>
              <li><a href="#">Single Window Facilitation Cell (SWFC)</a></li>
              <li><a href="#">Clients</a></li>
            </ul>
          </li>

          <li class="drop">
            <a href="#">Services <i class="icon icon-caret-down-1"></i></a>
            <ul class="drop-down">
              <li><a href="#">Facilities at Filmcity</a></li>
              <li>
                <a href="#">Concession & Subsidies by State Government </a>
              </li>
            </ul>
          </li>

          <li class="drop">
            <a href="#">Locations </a>
            <ul class="drop-down">
              <li class="dropdown-submenu" ngbDropdown>
                <a
                  href="#"
                  class="dropdown-toggle "
                  id="dropdownFilmcity"
                  ngbDropdownToggle
                  >Film City
                  <!--
                    <i
                    class="icon icon-caret-down-1"></i>
                --></a>
                <ul
                  class="dropdown-menu"
                  ngbDropdownMenu
                  aria-labelledby="dropdownFilmcity"
                >
                  <li><a href="#">Indoor locations</a></li>
                  <li><a href="#">Outdoor locations</a></li>
                </ul>
              </li>
              <li><a href="javascript:;">Roads & Streets</a></li>
              <li><a href="javascript:;">Beaches & Coasts</a></li>
              <li><a href="javascript:;">Forts, Monuments and Museums</a></li>
              <li><a href="javascript:;">Forest & Wildlife</a></li>
              <li><a href="javascript:;">Gardens & Parks</a></li>
              <li><a href="javascript:;">Mountain & Valleys</a></li>
              <li><a href="javascript:;">Landmarks and Marquee</a></li>
              <li><a href="javascript:;">Water Bodies & Dams</a></li>
              <li><a href="javascript:;">Religious Places</a></li>
              <li><a href="javascript:;">Caves</a></li>
              <li>
                <a href="javascript:;"
                  >Markets, Buildings and Industrial Sites</a
                >
              </li>
              <li><a href="javascript:;">Stadiums and Sports Complexes</a></li>
              <li><a href="javascript:;">Transport (Road/Rail/Air)</a></li>
            </ul>
          </li>

          <li class="drop">
            <a href="javascript:;"
              >Shooting Permission <i class="icon icon-caret-down-1"></i
            ></a>
            <ul class="drop-down">
              <li><a href="javascript:;">How to Apply</a></li>
              <li><a href="javascript:;">Rate Chart</a></li>
              <li>
                <a href="/#/swfc/caf/create-new" target="_blank">Apply Now</a>
              </li>
              <li><a href="javascript:;">Check Status</a></li>
            </ul>
          </li>
          <li><a href="javascript:;">Grievance Redressal</a></li>
          <li class="drop">
            <a href="javascript:;"
              >Downloads <i class="icon icon-caret-down-1"></i
            ></a>
            <ul class="drop-down">
              <li><a href="javascript:;">FAQs</a></li>
              <li ngbDropdown class="dropdown-submenu">
                <a
                  id="dropdownFilmcity"
                  ngbDropdownToggle
                  href="javascript:;"
                  class="dropdown-toggle "
                  >Reports
                </a>
                <ul ngbDropdownMenu aria-labelledby="dropdownFilmcity">
                  <li><a href="javascript:;">Annual Reports</a></li>
                  <li><a href="javascript:;">MoA</a></li>
                  <li><a href="#">Other Reports</a></li>
                </ul>
              </li>
              <li><a href="#">Policy/ Circular/ GR/ Incentives/ CSR</a></li>
              <li>
                <a href="#"
                  >Database (Production House List; Equipment's’ Provider
                  List)</a
                >
              </li>
              <li><a href="#">RTI</a></li>
            </ul>
          </li>
          <li><a href="#">Tenders</a></li>
          <li><a href="#">Contact Us</a></li>
          <!-- <li><a href="#/zcbase/account/login">Login</a></li> -->
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- <div class="back-groud-image"></div> -->
<div class="login-container">
  <div class="log container">
    <router-outlet></router-outlet>
    <div class="app-links" *ngIf="ly.appList && ly.appList.length>1">
      <ul class="nav">
        <li class="nav-item" *ngFor="let app of ly.appList">
          <a class="nav-link active" [routerLink]="[ '/'+app.code]"
            >{{app.name}}</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
<footer class="clearfix">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>© 2019 Film City Mumbai All Rights Reserved.</p>
          <div class="flex-display">
            <img src="assets/mahait/images/footer-logo.png" />
            <div>
              <p>This site is developed & managed by</p>
              <p class="text-weight">
                Maharashtra Information Technology Corporation
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <ul>
            <li class="right-border">Faq's</li>

            <li class="right-border">Privacy Policy</li>

            <li class="right-border">Privacy Policy</li>

            <li>Contact Us</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</footer>
