@charset "UTF-8";

@font-face {
  font-family: 'tssfont';
  src: url('fonts/tssfont.eot');
  src: url('fonts/tssfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/tssfont.woff') format('woff'),
    url('fonts/tssfont.ttf') format('truetype'),
    url('fonts/tssfont.svg#tssfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'tssfont' !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='icon-'],
[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'tssfont' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-action-items:before {
  content: '\61';
}
.icon-add:before {
  content: '\62';
}
.icon-address:before {
  content: '\63';
}
.icon-admin:before {
  content: '\64';
}
.icon-admin-1:before {
  content: '\65';
}
.icon-admin-2:before {
  content: '\66';
}
.icon-alert1:before {
  content: '\67';
}
.icon-alighments:before {
  content: '\68';
}
.icon-align-center:before {
  content: '\69';
}
.icon-align-lfet:before {
  content: '\6a';
}
.icon-align-middle:before {
  content: '\6b';
}
.icon-align-right:before {
  content: '\6c';
}
.icon-alignments-1:before {
  content: '\6d';
}
.icon-ambrilla:before {
  content: '\6e';
}
.icon-analysis:before {
  content: '\6f';
}
.icon-analysis-2:before {
  content: '\70';
}
.icon-android:before {
  content: '\71';
}
.icon-angle-down:before {
  content: '\72';
}
.icon-angle-left:before {
  content: '\73';
}
.icon-angle-right:before {
  content: '\74';
}
.icon-angle-up:before {
  content: '\75';
}
.icon-application-management:before {
  content: '\76';
}
.icon-appraisal:before {
  content: '\77';
}
.icon-approve:before {
  content: '\78';
}
.icon-arrow:before {
  content: '\79';
}
.icon-arrow-1:before {
  content: '\7a';
}
.icon-arrow-2:before {
  content: '\41';
}
.icon-arrow-3:before {
  content: '\42';
}
.icon-arrow-4:before {
  content: '\43';
}
.icon-arrow-all:before {
  content: '\44';
}
.icon-arrow-combine:before {
  content: '\45';
}
.icon-arrow-direction-diagnal:before {
  content: '\46';
}
.icon-arrow-direction-inner:before {
  content: '\47';
}
.icon-arrow-direction-left:before {
  content: '\48';
}
.icon-arrow-direction-up:before {
  content: '\49';
}
.icon-arrow-down:before {
  content: '\4a';
}
.icon-arrow-down-1:before {
  content: '\4b';
}
.icon-arrow-down-c:before {
  content: '\4c';
}
.icon-arrow-left:before {
  content: '\4d';
}
.icon-arrow-left-1:before {
  content: '\4e';
}
.icon-arrow-left-c:before {
  content: '\4f';
}
.icon-arrow-right:before {
  content: '\50';
}
.icon-arrow-right-1:before {
  content: '\51';
}
.icon-arrow-right-c:before {
  content: '\52';
}
.icon-arrow-up:before {
  content: '\53';
}
.icon-arrow-up-1:before {
  content: '\54';
}
.icon-arrow-up-c:before {
  content: '\55';
}
.icon-at:before {
  content: '\56';
}
.icon-attach:before {
  content: '\57';
}
.icon-b-c:before {
  content: '\58';
}
.icon-b-currency:before {
  content: '\59';
}
.icon-b-currency-1:before {
  content: '\5a';
}
.icon-b-currency-2:before {
  content: '\30';
}
.icon-bag:before {
  content: '\31';
}
.icon-bag-1:before {
  content: '\32';
}
.icon-bags:before {
  content: '\33';
}
.icon-baned:before {
  content: '\34';
}
.icon-bar-chart:before {
  content: '\35';
}
.icon-bar-chart-1:before {
  content: '\36';
}
.icon-barchart:before {
  content: '\37';
}
.icon-barcode:before {
  content: '\38';
}
.icon-barcode-1:before {
  content: '\39';
}
.icon-barcode-scane:before {
  content: '\21';
}
.icon-barcode-search:before {
  content: '\22';
}
.icon-baskate:before {
  content: '\23';
}
.icon-baskate-in:before {
  content: '\24';
}
.icon-baskate-left:before {
  content: '\25';
}
.icon-baskate-minus:before {
  content: '\26';
}
.icon-baskate-out:before {
  content: '\27';
}
.icon-baskate-plus:before {
  content: '\28';
}
.icon-baskate-right:before {
  content: '\29';
}
.icon-battery-charge:before {
  content: '\2a';
}
.icon-battery-empty:before {
  content: '\2b';
}
.icon-battery-low:before {
  content: '\2c';
}
.icon-blank:before {
  content: '\2d';
}
.icon-block1:before {
  content: '\2e';
}
.icon-block2:before {
  content: '\2f';
}
.icon-block3:before {
  content: '\3a';
}
.icon-block4:before {
  content: '\3b';
}
.icon-block5:before {
  content: '\3c';
}
.icon-block6:before {
  content: '\3d';
}
.icon-block7:before {
  content: '\3e';
}
.icon-block8:before {
  content: '\3f';
}
.icon-block9:before {
  content: '\40';
}
.icon-bluetooth:before {
  content: '\5b';
}
.icon-board-clips:before {
  content: '\5d';
}
.icon-bone:before {
  content: '\5e';
}
.icon-bones:before {
  content: '\5f';
}
.icon-bottle:before {
  content: '\60';
}
.icon-box-g:before {
  content: '\7b';
}
.icon-box-g-1:before {
  content: '\7c';
}
.icon-box-g-2:before {
  content: '\7d';
}
.icon-box-g-3:before {
  content: '\7e';
}
.icon-box-g-4:before {
  content: '\5c';
}
.icon-branches:before {
  content: '\e000';
}
.icon-bs-c:before {
  content: '\e001';
}
.icon-building:before {
  content: '\e002';
}
.icon-c-apuse:before {
  content: '\e003';
}
.icon-c-forward:before {
  content: '\e004';
}
.icon-c-forward-1:before {
  content: '\e005';
}
.icon-c-forward-2:before {
  content: '\e006';
}
.icon-c-music:before {
  content: '\e007';
}
.icon-c-o:before {
  content: '\e008';
}
.icon-c-play:before {
  content: '\e009';
}
.icon-c-stop:before {
  content: '\e00a';
}
.icon-calander:before {
  content: '\e00b';
}
.icon-calander-1:before {
  content: '\e00c';
}
.icon-calcy:before {
  content: '\e00d';
}
.icon-cam-1:before {
  content: '\e00e';
}
.icon-cam-4:before {
  content: '\e00f';
}
.icon-cam-reel:before {
  content: '\e010';
}
.icon-cam-reel-1:before {
  content: '\e011';
}
.icon-cams:before {
  content: '\e012';
}
.icon-cancel-c:before {
  content: '\e013';
}
.icon-capsul:before {
  content: '\e014';
}
.icon-capsul-1:before {
  content: '\e015';
}
.icon-caret-down:before {
  content: '\e016';
}
.icon-caret-left:before {
  content: '\e017';
}
.icon-caret-right:before {
  content: '\e018';
}
.icon-caret-up:before {
  content: '\e019';
}
.icon-cart-left:before {
  content: '\e01a';
}
.icon-cart-minus:before {
  content: '\e01b';
}
.icon-cart-plus:before {
  content: '\e01c';
}
.icon-cart-right:before {
  content: '\e01d';
}
.icon-cell:before {
  content: '\e01e';
}
.icon-check:before {
  content: '\e01f';
}
.icon-check-1:before {
  content: '\e020';
}
.icon-check-c:before {
  content: '\e021';
}
.icon-check-c-1:before {
  content: '\e022';
}
.icon-checkboxes1:before {
  content: '\e023';
}
.icon-chrom:before {
  content: '\e024';
}
.icon-circle-in:before {
  content: '\e025';
}
.icon-circute:before {
  content: '\e026';
}
.icon-close:before {
  content: '\e027';
}
.icon-close2:before {
  content: '\e028';
}
.icon-cloud:before {
  content: '\e029';
}
.icon-cloud-1:before {
  content: '\e02a';
}
.icon-cloud-download:before {
  content: '\e02b';
}
.icon-cloud-moon:before {
  content: '\e02c';
}
.icon-cloud-rain:before {
  content: '\e02d';
}
.icon-cloud-rain-1:before {
  content: '\e02e';
}
.icon-cloud-rain-2:before {
  content: '\e02f';
}
.icon-cloud-rain-3:before {
  content: '\e030';
}
.icon-cloud-rain-4:before {
  content: '\e031';
}
.icon-cloud-rain-5:before {
  content: '\e032';
}
.icon-cloud-refresh:before {
  content: '\e033';
}
.icon-cloud-upload:before {
  content: '\e034';
}
.icon-cmd:before {
  content: '\e035';
}
.icon-coffee:before {
  content: '\e036';
}
.icon-companies:before {
  content: '\e037';
}
.icon-connect:before {
  content: '\e038';
}
.icon-counter-cal:before {
  content: '\e039';
}
.icon-countries:before {
  content: '\e03a';
}
.icon-credit-card:before {
  content: '\e03b';
}
.icon-credit-cards:before {
  content: '\e03c';
}
.icon-currency-2:before {
  content: '\e03d';
}
.icon-dashboard:before {
  content: '\e03e';
}
.icon-dashboard2:before {
  content: '\e03f';
}
.icon-dashboard5:before {
  content: '\e040';
}
.icon-dashed-c:before {
  content: '\e041';
}
.icon-dashed-o:before {
  content: '\e042';
}
.icon-dashed-o-arrow-down:before {
  content: '\e043';
}
.icon-dashed-o-arrow-up:before {
  content: '\e044';
}
.icon-dashed-sq:before {
  content: '\e045';
}
.icon-dashed-sq-arrow-down:before {
  content: '\e046';
}
.icon-dashed-sq-arrow-up:before {
  content: '\e047';
}
.icon-dashed-sq-pause:before {
  content: '\e048';
}
.icon-database:before {
  content: '\e049';
}
.icon-database-1:before {
  content: '\e04a';
}
.icon-datagroup:before {
  content: '\e04b';
}
.icon-datasets:before {
  content: '\e04c';
}
.icon-datatable:before {
  content: '\e04d';
}
.icon-datatable1:before {
  content: '\e04e';
}
.icon-delete:before {
  content: '\e04f';
}
.icon-department:before {
  content: '\e050';
}
.icon-desk:before {
  content: '\e051';
}
.icon-desk-1:before {
  content: '\e052';
}
.icon-desk-2:before {
  content: '\e053';
}
.icon-desk-arrow-down:before {
  content: '\e054';
}
.icon-desk-arrow-left:before {
  content: '\e055';
}
.icon-desk-arrow-right:before {
  content: '\e056';
}
.icon-desk-arrow-up:before {
  content: '\e057';
}
.icon-desk-refresh:before {
  content: '\e058';
}
.icon-desks:before {
  content: '\e059';
}
.icon-direction-pole:before {
  content: '\e05a';
}
.icon-directions:before {
  content: '\e05b';
}
.icon-dobble-draw:before {
  content: '\e05c';
}
.icon-doller-circle:before {
  content: '\e05d';
}
.icon-doubble-circle:before {
  content: '\e05e';
}
.icon-doubble-square:before {
  content: '\e05f';
}
.icon-download:before {
  content: '\e060';
}
.icon-drag-arrows:before {
  content: '\e061';
}
.icon-draw:before {
  content: '\e062';
}
.icon-draw-download:before {
  content: '\e063';
}
.icon-draw-lines:before {
  content: '\e064';
}
.icon-draw-upload:before {
  content: '\e065';
}
.icon-drop:before {
  content: '\e066';
}
.icon-dropbox-circle:before {
  content: '\e067';
}
.icon-dropbox-square:before {
  content: '\e068';
}
.icon-edit:before {
  content: '\e069';
}
.icon-edit-book:before {
  content: '\e06a';
}
.icon-edit-book-1:before {
  content: '\e06b';
}
.icon-edit-pencil:before {
  content: '\e06c';
}
.icon-edit-pencil-1:before {
  content: '\e06d';
}
.icon-efficiency:before {
  content: '\e06e';
}
.icon-eligibility:before {
  content: '\e06f';
}
.icon-eligibility-2:before {
  content: '\e070';
}
.icon-ellipsis:before {
  content: '\e071';
}
.icon-ellipsis-h:before {
  content: '\e072';
}
.icon-enter-left:before {
  content: '\e073';
}
.icon-enter-right:before {
  content: '\e074';
}
.icon-eur:before {
  content: '\e075';
}
.icon-eur-1:before {
  content: '\e076';
}
.icon-eur-2:before {
  content: '\e077';
}
.icon-eur-c:before {
  content: '\e078';
}
.icon-eurs-c:before {
  content: '\e079';
}
.icon-eye:before {
  content: '\e07a';
}
.icon-eye-2:before {
  content: '\e07b';
}
.icon-fb-circle:before {
  content: '\e07c';
}
.icon-fb-square:before {
  content: '\e07d';
}
.icon-fields:before {
  content: '\e07e';
}
.icon-file-6:before {
  content: '\e07f';
}
.icon-file-ai:before {
  content: '\e080';
}
.icon-file-book:before {
  content: '\e081';
}
.icon-file-fold:before {
  content: '\e082';
}
.icon-file-gif:before {
  content: '\e083';
}
.icon-file-jpeg:before {
  content: '\e084';
}
.icon-file-list:before {
  content: '\e085';
}
.icon-file-one:before {
  content: '\e086';
}
.icon-file-pack:before {
  content: '\e087';
}
.icon-file-page:before {
  content: '\e088';
}
.icon-file-pages:before {
  content: '\e089';
}
.icon-file-pdf:before {
  content: '\e08a';
}
.icon-file-png:before {
  content: '\e08b';
}
.icon-file-psd:before {
  content: '\e08c';
}
.icon-files05:before {
  content: '\e08d';
}
.icon-files-1:before {
  content: '\e08e';
}
.icon-files-2:before {
  content: '\e08f';
}
.icon-files-3:before {
  content: '\e090';
}
.icon-files-4:before {
  content: '\e091';
}
.icon-files-group:before {
  content: '\e092';
}
.icon-filter:before {
  content: '\e093';
}
.icon-filter-minus:before {
  content: '\e094';
}
.icon-filter-plus:before {
  content: '\e095';
}
.icon-flag:before {
  content: '\e096';
}
.icon-flag-1:before {
  content: '\e097';
}
.icon-fold:before {
  content: '\e098';
}
.icon-fold-1:before {
  content: '\e099';
}
.icon-folder:before {
  content: '\e09a';
}
.icon-folder-1:before {
  content: '\e09b';
}
.icon-folder-1-1:before {
  content: '\e09c';
}
.icon-folder-search:before {
  content: '\e09d';
}
.icon-folders:before {
  content: '\e09e';
}
.icon-forms:before {
  content: '\e09f';
}
.icon-forward-2:before {
  content: '\e0a0';
}
.icon-galleries:before {
  content: '\e0a1';
}
.icon-gallery:before {
  content: '\e0a2';
}
.icon-games:before {
  content: '\e0a3';
}
.icon-get:before {
  content: '\e0a4';
}
.icon-gift:before {
  content: '\e0a5';
}
.icon-glass-liquid:before {
  content: '\e0a6';
}
.icon-glob:before {
  content: '\e0a7';
}
.icon-glob-1:before {
  content: '\e0a8';
}
.icon-glob-2:before {
  content: '\e0a9';
}
.icon-glob-3:before {
  content: '\e0aa';
}
.icon-glob-link:before {
  content: '\e0ab';
}
.icon-globe-1:before {
  content: '\e0ac';
}
.icon-globs:before {
  content: '\e0ad';
}
.icon-gplus-circle:before {
  content: '\e0ae';
}
.icon-gplus-square:before {
  content: '\e0af';
}
.icon-graduate-cap:before {
  content: '\e0b0';
}
.icon-grid:before {
  content: '\e0b1';
}
.icon-grid1:before {
  content: '\e0b2';
}
.icon-grid2:before {
  content: '\e0b3';
}
.icon-grid3:before {
  content: '\e0b4';
}
.icon-grid4:before {
  content: '\e0b5';
}
.icon-grid5:before {
  content: '\e0b6';
}
.icon-grid6:before {
  content: '\e0b7';
}
.icon-grid7:before {
  content: '\e0b8';
}
.icon-grid8:before {
  content: '\e0b9';
}
.icon-grid9:before {
  content: '\e0ba';
}
.icon-grid-1:before {
  content: '\e0bb';
}
.icon-grid-2:before {
  content: '\e0bc';
}
.icon-grid-3:before {
  content: '\e0bd';
}
.icon-grid-4:before {
  content: '\e0be';
}
.icon-grid-col:before {
  content: '\e0bf';
}
.icon-grid-col-row:before {
  content: '\e0c0';
}
.icon-grid-row:before {
  content: '\e0c1';
}
.icon-grid-single:before {
  content: '\e0c2';
}
.icon-grid-single-1:before {
  content: '\e0c3';
}
.icon-grid-single-2:before {
  content: '\e0c4';
}
.icon-grids:before {
  content: '\e0c5';
}
.icon-h-ellipsis:before {
  content: '\e0c6';
}
.icon-h-ellipsis-c:before {
  content: '\e0c7';
}
.icon-half-moon:before {
  content: '\e0c8';
}
.icon-half-sun:before {
  content: '\e0c9';
}
.icon-half-sun-1:before {
  content: '\e0ca';
}
.icon-hand-mike:before {
  content: '\e0cb';
}
.icon-headset:before {
  content: '\e0cc';
}
.icon-health-lq:before {
  content: '\e0cd';
}
.icon-health-plus:before {
  content: '\e0ce';
}
.icon-health-plus-c:before {
  content: '\e0cf';
}
.icon-hearphones:before {
  content: '\e0d0';
}
.icon-heart-break:before {
  content: '\e0d1';
}
.icon-heart-break-1:before {
  content: '\e0d2';
}
.icon-help:before {
  content: '\e0d3';
}
.icon-home:before {
  content: '\e0d4';
}
.icon-hotspot:before {
  content: '\e0d5';
}
.icon-hotspot-1:before {
  content: '\e0d6';
}
.icon-ice-cream:before {
  content: '\e0d7';
}
.icon-inbox:before {
  content: '\e0d8';
}
.icon-inbox-1:before {
  content: '\e0d9';
}
.icon-inbox-file:before {
  content: '\e0da';
}
.icon-inbox-file-1:before {
  content: '\e0db';
}
.icon-inbox-in:before {
  content: '\e0dc';
}
.icon-inbox-out:before {
  content: '\e0dd';
}
.icon-indicating-board:before {
  content: '\e0de';
}
.icon-info:before {
  content: '\e0df';
}
.icon-info1:before {
  content: '\e0e0';
}
.icon-info-1:before {
  content: '\e0e1';
}
.icon-insta-circle:before {
  content: '\e0e2';
}
.icon-insta-square:before {
  content: '\e0e3';
}
.icon-key:before {
  content: '\e0e4';
}
.icon-key-1:before {
  content: '\e0e5';
}
.icon-keyboard:before {
  content: '\e0e6';
}
.icon-keyboard-down:before {
  content: '\e0e7';
}
.icon-keyboard-up:before {
  content: '\e0e8';
}
.icon-lab:before {
  content: '\e0e9';
}
.icon-lab-glass:before {
  content: '\e0ea';
}
.icon-lab-glass-1:before {
  content: '\e0eb';
}
.icon-lab-glass-2:before {
  content: '\e0ec';
}
.icon-lab-glass-3:before {
  content: '\e0ed';
}
.icon-languages-2:before {
  content: '\e0ee';
}
.icon-lap:before {
  content: '\e0ef';
}
.icon-lap-1:before {
  content: '\e0f0';
}
.icon-layers:before {
  content: '\e0f1';
}
.icon-leftarrow:before {
  content: '\e0f2';
}
.icon-link:before {
  content: '\e0f3';
}
.icon-linkedin-circle:before {
  content: '\e0f4';
}
.icon-linkedin-square:before {
  content: '\e0f5';
}
.icon-list1:before {
  content: '\e0f6';
}
.icon-list2:before {
  content: '\e0f7';
}
.icon-loadingbar:before {
  content: '\e0f8';
}
.icon-loadingbar1:before {
  content: '\e0f9';
}
.icon-location:before {
  content: '\e0fa';
}
.icon-lock:before {
  content: '\e0fb';
}
.icon-lock-1:before {
  content: '\e0fc';
}
.icon-locker:before {
  content: '\e0fd';
}
.icon-long-bottom-arrow:before {
  content: '\e0fe';
}
.icon-long-left-arrow:before {
  content: '\e0ff';
}
.icon-long-right-arrow:before {
  content: '\e100';
}
.icon-long-top-arrow:before {
  content: '\e101';
}
.icon-masters:before {
  content: '\e102';
}
.icon-memorycard:before {
  content: '\e103';
}
.icon-memorycard-1:before {
  content: '\e104';
}
.icon-men-c:before {
  content: '\e105';
}
.icon-men-c-1:before {
  content: '\e106';
}
.icon-menu-bars:before {
  content: '\e107';
}
.icon-menu-list:before {
  content: '\e108';
}
.icon-menu-list-1:before {
  content: '\e109';
}
.icon-message:before {
  content: '\e10a';
}
.icon-messages:before {
  content: '\e10b';
}
.icon-mike:before {
  content: '\e10c';
}
.icon-mike-1:before {
  content: '\e10d';
}
.icon-mike-2:before {
  content: '\e10e';
}
.icon-minus1:before {
  content: '\e10f';
}
.icon-minus-c:before {
  content: '\e110';
}
.icon-modules:before {
  content: '\e111';
}
.icon-moon:before {
  content: '\e112';
}
.icon-moon-1:before {
  content: '\e113';
}
.icon-moon-full:before {
  content: '\e114';
}
.icon-moon-half-1:before {
  content: '\e115';
}
.icon-moon-half-2:before {
  content: '\e116';
}
.icon-moon-half-3:before {
  content: '\e117';
}
.icon-moon-half-4:before {
  content: '\e118';
}
.icon-moon-half-5:before {
  content: '\e119';
}
.icon-moon-half-6:before {
  content: '\e11a';
}
.icon-more:before {
  content: '\e11b';
}
.icon-mouse:before {
  content: '\e11c';
}
.icon-movie:before {
  content: '\e11d';
}
.icon-msg:before {
  content: '\e11e';
}
.icon-msg-1:before {
  content: '\e11f';
}
.icon-music-box:before {
  content: '\e120';
}
.icon-music-icon:before {
  content: '\e121';
}
.icon-music-icon-1:before {
  content: '\e122';
}
.icon-name:before {
  content: '\e123';
}
.icon-navigate:before {
  content: '\e124';
}
.icon-navigator:before {
  content: '\e125';
}
.icon-note-pad:before {
  content: '\e126';
}
.icon-notepad:before {
  content: '\e127';
}
.icon-office:before {
  content: '\e128';
}
.icon-office-bag:before {
  content: '\e129';
}
.icon-org:before {
  content: '\e12a';
}
.icon-org-1:before {
  content: '\e12b';
}
.icon-outbox-arrow:before {
  content: '\e12c';
}
.icon-p-circle:before {
  content: '\e12d';
}
.icon-p-square:before {
  content: '\e12e';
}
.icon-pages-2:before {
  content: '\e12f';
}
.icon-paragraph:before {
  content: '\e130';
}
.icon-phone2:before {
  content: '\e131';
}
.icon-pie-chart:before {
  content: '\e132';
}
.icon-piechart:before {
  content: '\e133';
}
.icon-pin-in:before {
  content: '\e134';
}
.icon-placard:before {
  content: '\e135';
}
.icon-plus:before {
  content: '\e136';
}
.icon-plus-c:before {
  content: '\e137';
}
.icon-print-2:before {
  content: '\e138';
}
.icon-printer:before {
  content: '\e139';
}
.icon-products:before {
  content: '\e13a';
}
.icon-profile:before {
  content: '\e13b';
}
.icon-properties:before {
  content: '\e13c';
}
.icon-purse:before {
  content: '\e13d';
}
.icon-purse-1:before {
  content: '\e13e';
}
.icon-purse-cash:before {
  content: '\e13f';
}
.icon-question:before {
  content: '\e140';
}
.icon-radio:before {
  content: '\e141';
}
.icon-radio-1:before {
  content: '\e142';
}
.icon-rainbow:before {
  content: '\e143';
}
.icon-react-icon:before {
  content: '\e144';
}
.icon-records:before {
  content: '\e145';
}
.icon-reference:before {
  content: '\e146';
}
.icon-refresh:before {
  content: '\e147';
}
.icon-reject:before {
  content: '\e148';
}
.icon-reload:before {
  content: '\e149';
}
.icon-rename:before {
  content: '\e14a';
}
.icon-ribbun-plus:before {
  content: '\e14b';
}
.icon-ribbun-star:before {
  content: '\e14c';
}
.icon-right-check:before {
  content: '\e14d';
}
.icon-right-check2:before {
  content: '\e14e';
}
.icon-rightarrow:before {
  content: '\e14f';
}
.icon-roles:before {
  content: '\e150';
}
.icon-roles-2:before {
  content: '\e151';
}
.icon-root-navigator:before {
  content: '\e152';
}
.icon-screen:before {
  content: '\e153';
}
.icon-screen-arrow:before {
  content: '\e154';
}
.icon-search:before {
  content: '\e155';
}
.icon-search-logo:before {
  content: '\e156';
}
.icon-search-minus:before {
  content: '\e157';
}
.icon-search-plus:before {
  content: '\e158';
}
.icon-send-1:before {
  content: '\e159';
}
.icon-settings:before {
  content: '\e15a';
}
.icon-settings-1:before {
  content: '\e15b';
}
.icon-settings1:before {
  content: '\e15c';
}
.icon-settings-1-1:before {
  content: '\e15d';
}
.icon-settings-2:before {
  content: '\e15e';
}
.icon-settings-box:before {
  content: '\e15f';
}
.icon-setup-box:before {
  content: '\e160';
}
.icon-silent:before {
  content: '\e161';
}
.icon-smile-box-break:before {
  content: '\e162';
}
.icon-sorting:before {
  content: '\e163';
}
.icon-soutcase:before {
  content: '\e164';
}
.icon-soutcases:before {
  content: '\e165';
}
.icon-speaker:before {
  content: '\e166';
}
.icon-speaker-1:before {
  content: '\e167';
}
.icon-speaker-sound:before {
  content: '\e168';
}
.icon-speaker-val:before {
  content: '\e169';
}
.icon-speed:before {
  content: '\e16a';
}
.icon-sq-arrow-down:before {
  content: '\e16b';
}
.icon-sq-arrow-left:before {
  content: '\e16c';
}
.icon-sq-arrow-right:before {
  content: '\e16d';
}
.icon-sq-arrow-up:before {
  content: '\e16e';
}
.icon-sq-music:before {
  content: '\e16f';
}
.icon-sq-music-1:before {
  content: '\e170';
}
.icon-sq-music-2:before {
  content: '\e171';
}
.icon-squares:before {
  content: '\e172';
}
.icon-squares-1:before {
  content: '\e173';
}
.icon-squares-2:before {
  content: '\e174';
}
.icon-star:before {
  content: '\e175';
}
.icon-star-c:before {
  content: '\e176';
}
.icon-star-logo:before {
  content: '\e177';
}
.icon-stars:before {
  content: '\e178';
}
.icon-stars-menu:before {
  content: '\e179';
}
.icon-status:before {
  content: '\e17a';
}
.icon-stearing:before {
  content: '\e17b';
}
.icon-storm:before {
  content: '\e17c';
}
.icon-sun:before {
  content: '\e17d';
}
.icon-switch-box:before {
  content: '\e17e';
}
.icon-t-circle:before {
  content: '\e17f';
}
.icon-t-square:before {
  content: '\e180';
}
.icon-tab:before {
  content: '\e181';
}
.icon-tab-cover:before {
  content: '\e182';
}
.icon-tab-covers:before {
  content: '\e183';
}
.icon-table-draw:before {
  content: '\e184';
}
.icon-table-draw-1:before {
  content: '\e185';
}
.icon-table-draw-2:before {
  content: '\e186';
}
.icon-tabs1:before {
  content: '\e187';
}
.icon-tag-1:before {
  content: '\e188';
}
.icon-tag-2:before {
  content: '\e189';
}
.icon-tag-price:before {
  content: '\e18a';
}
.icon-tags-price:before {
  content: '\e18b';
}
.icon-target:before {
  content: '\e18c';
}
.icon-target-1:before {
  content: '\e18d';
}
.icon-tasks:before {
  content: '\e18e';
}
.icon-temp:before {
  content: '\e18f';
}
.icon-tick:before {
  content: '\e190';
}
.icon-ticket-star:before {
  content: '\e191';
}
.icon-ticket-star-1:before {
  content: '\e192';
}
.icon-tie:before {
  content: '\e193';
}
.icon-tie-1:before {
  content: '\e194';
}
.icon-time-clock:before {
  content: '\e195';
}
.icon-time-clock-1:before {
  content: '\e196';
}
.icon-times:before {
  content: '\e197';
}
.icon-traget-screen:before {
  content: '\e198';
}
.icon-tree:before {
  content: '\e199';
}
.icon-tv:before {
  content: '\e19a';
}
.icon-tv-1:before {
  content: '\e19b';
}
.icon-tv-2:before {
  content: '\e19c';
}
.icon-twit-circle:before {
  content: '\e19d';
}
.icon-twit-square:before {
  content: '\e19e';
}
.icon-undo:before {
  content: '\e19f';
}
.icon-undo-1:before {
  content: '\e1a0';
}
.icon-unlock:before {
  content: '\e1a1';
}
.icon-upload:before {
  content: '\e1a2';
}
.icon-usd:before {
  content: '\e1a3';
}
.icon-usd-1:before {
  content: '\e1a4';
}
.icon-usd-2:before {
  content: '\e1a5';
}
.icon-usd-c:before {
  content: '\e1a6';
}
.icon-usd-c-1:before {
  content: '\e1a7';
}
.icon-user-c:before {
  content: '\e1a8';
}
.icon-user-management:before {
  content: '\e1a9';
}
.icon-user-types:before {
  content: '\e1aa';
}
.icon-users:before {
  content: '\e1ab';
}
.icon-users-1:before {
  content: '\e1ac';
}
.icon-v-circle:before {
  content: '\e1ad';
}
.icon-v-square:before {
  content: '\e1ae';
}
.icon-video:before {
  content: '\e1af';
}
.icon-video-1-24:before {
  content: '\e1b0';
}
.icon-video-1-25:before {
  content: '\e1b1';
}
.icon-video-file:before {
  content: '\e1b2';
}
.icon-video-file-1:before {
  content: '\e1b3';
}
.icon-video-files:before {
  content: '\e1b4';
}
.icon-voice-msg:before {
  content: '\e1b5';
}
.icon-weather:before {
  content: '\e1b6';
}
.icon-weather-1:before {
  content: '\e1b7';
}
.icon-whitehouse:before {
  content: '\e1b8';
}
.icon-wifi:before {
  content: '\e1b9';
}
.icon-wifi-1:before {
  content: '\e1ba';
}
.icon-wifi-box:before {
  content: '\e1bb';
}
.icon-windows:before {
  content: '\e1bc';
}
.icon-women-c:before {
  content: '\e1bd';
}
.icon-wordpress-circle:before {
  content: '\e1be';
}
.icon-wordpress-square:before {
  content: '\e1bf';
}
.icon-yahoo-circle:before {
  content: '\e1c0';
}
.icon-yahoo-square:before {
  content: '\e1c1';
}
.icon-youtube-circle:before {
  content: '\e1c2';
}
.icon-youtube-square:before {
  content: '\e1c3';
}
.icon-500px:before {
  content: '\e1c4';
}
.icon-adjust:before {
  content: '\e1c5';
}
.icon-adn:before {
  content: '\e1c6';
}
.icon-align-center-1:before {
  content: '\e1c7';
}
.icon-align-justify:before {
  content: '\e1c8';
}
.icon-align-left:before {
  content: '\e1c9';
}
.icon-align-right-1:before {
  content: '\e1ca';
}
.icon-amazon:before {
  content: '\e1cb';
}
.icon-ambulance:before {
  content: '\e1cc';
}
.icon-anchor:before {
  content: '\e1cd';
}
.icon-android-1:before {
  content: '\e1ce';
}
.icon-angellist:before {
  content: '\e1cf';
}
.icon-angle-double-down:before {
  content: '\e1d0';
}
.icon-angle-double-left:before {
  content: '\e1d1';
}
.icon-angle-double-right:before {
  content: '\e1d2';
}
.icon-angle-double-up:before {
  content: '\e1d3';
}
.icon-angle-down-1:before {
  content: '\e1d4';
}
.icon-angle-left-1:before {
  content: '\e1d5';
}
.icon-angle-right-1:before {
  content: '\e1d6';
}
.icon-angle-up-1:before {
  content: '\e1d7';
}
.icon-apple:before {
  content: '\e1d8';
}
.icon-archive:before {
  content: '\e1d9';
}
.icon-area-chart:before {
  content: '\e1da';
}
.icon-arrow-circle-down:before {
  content: '\e1db';
}
.icon-arrow-circle-left:before {
  content: '\e1dc';
}
.icon-arrow-circle-o-down:before {
  content: '\e1dd';
}
.icon-arrow-circle-o-left:before {
  content: '\e1de';
}
.icon-arrow-circle-o-right:before {
  content: '\e1df';
}
.icon-arrow-circle-o-up:before {
  content: '\e1e0';
}
.icon-arrow-circle-right:before {
  content: '\e1e1';
}
.icon-arrow-circle-up:before {
  content: '\e1e2';
}
.icon-arrow-down-2:before {
  content: '\e1e3';
}
.icon-arrow-left-2:before {
  content: '\e1e4';
}
.icon-arrow-right-2:before {
  content: '\e1e5';
}
.icon-arrow-up-2:before {
  content: '\e1e6';
}
.icon-arrows:before {
  content: '\e1e7';
}
.icon-arrows-alt:before {
  content: '\e1e8';
}
.icon-arrows-h:before {
  content: '\e1e9';
}
.icon-arrows-v:before {
  content: '\e1ea';
}
.icon-asterisk:before {
  content: '\e1eb';
}
.icon-at-1:before {
  content: '\e1ec';
}
.icon-backward:before {
  content: '\e1ed';
}
.icon-balance-scale:before {
  content: '\e1ee';
}
.icon-ban:before {
  content: '\e1ef';
}
.icon-bar-chart-2:before {
  content: '\e1f0';
}
.icon-barcode-2:before {
  content: '\e1f1';
}
.icon-bars:before {
  content: '\e1f2';
}
.icon-battery-empty-1:before {
  content: '\e1f3';
}
.icon-battery-full:before {
  content: '\e1f4';
}
.icon-battery-half:before {
  content: '\e1f5';
}
.icon-battery-quarter:before {
  content: '\e1f6';
}
.icon-battery-three-quarters:before {
  content: '\e1f7';
}
.icon-bed:before {
  content: '\e1f8';
}
.icon-beer:before {
  content: '\e1f9';
}
.icon-behance:before {
  content: '\e1fa';
}
.icon-behance-square:before {
  content: '\e1fb';
}
.icon-bell:before {
  content: '\e1fc';
}
.icon-bell-o:before {
  content: '\e1fd';
}
.icon-bell-slash:before {
  content: '\e1fe';
}
.icon-bell-slash-o:before {
  content: '\e1ff';
}
.icon-bicycle:before {
  content: '\e200';
}
.icon-binoculars:before {
  content: '\e201';
}
.icon-birthday-cake:before {
  content: '\e202';
}
.icon-bitbucket:before {
  content: '\e203';
}
.icon-bitbucket-square:before {
  content: '\e204';
}
.icon-black-tie:before {
  content: '\e205';
}
.icon-bold:before {
  content: '\e206';
}
.icon-bolt:before {
  content: '\e207';
}
.icon-bomb:before {
  content: '\e208';
}
.icon-book:before {
  content: '\e209';
}
.icon-bookmark:before {
  content: '\e20a';
}
.icon-bookmark-o:before {
  content: '\e20b';
}
.icon-briefcase:before {
  content: '\e20c';
}
.icon-btc:before {
  content: '\e20d';
}
.icon-bug:before {
  content: '\e20e';
}
.icon-building-1:before {
  content: '\e20f';
}
.icon-building-o:before {
  content: '\e210';
}
.icon-bullhorn:before {
  content: '\e211';
}
.icon-bullseye:before {
  content: '\e212';
}
.icon-bus:before {
  content: '\e213';
}
.icon-buysellads:before {
  content: '\e214';
}
.icon-calculator:before {
  content: '\e215';
}
.icon-calendar:before {
  content: '\e216';
}
.icon-calendar-check-o:before {
  content: '\e217';
}
.icon-calendar-minus-o:before {
  content: '\e218';
}
.icon-calendar-o:before {
  content: '\e219';
}
.icon-calendar-plus-o:before {
  content: '\e21a';
}
.icon-calendar-times-o:before {
  content: '\e21b';
}
.icon-camera:before {
  content: '\e21c';
}
.icon-camera-retro:before {
  content: '\e21d';
}
.icon-car:before {
  content: '\e21e';
}
.icon-caret-down-1:before {
  content: '\e21f';
}
.icon-caret-left-1:before {
  content: '\e220';
}
.icon-caret-right-1:before {
  content: '\e221';
}
.icon-caret-square-o-down:before {
  content: '\e222';
}
.icon-caret-square-o-left:before {
  content: '\e223';
}
.icon-caret-square-o-right:before {
  content: '\e224';
}
.icon-caret-square-o-up:before {
  content: '\e225';
}
.icon-caret-up-1:before {
  content: '\e226';
}
.icon-cart-arrow-down:before {
  content: '\e227';
}
.icon-cart-plus-1:before {
  content: '\e228';
}
.icon-cc:before {
  content: '\e229';
}
.icon-cc-amex:before {
  content: '\e22a';
}
.icon-cc-diners-club:before {
  content: '\e22b';
}
.icon-cc-discover:before {
  content: '\e22c';
}
.icon-cc-jcb:before {
  content: '\e22d';
}
.icon-cc-mastercard:before {
  content: '\e22e';
}
.icon-cc-paypal:before {
  content: '\e22f';
}
.icon-cc-stripe:before {
  content: '\e230';
}
.icon-cc-visa:before {
  content: '\e231';
}
.icon-certificate:before {
  content: '\e232';
}
.icon-chain-broken:before {
  content: '\e233';
}
.icon-check-2:before {
  content: '\e234';
}
.icon-check-circle:before {
  content: '\e235';
}
.icon-check-circle-o:before {
  content: '\e236';
}
.icon-check-square:before {
  content: '\e237';
}
.icon-check-square-o:before {
  content: '\e238';
}
.icon-chevron-circle-down:before {
  content: '\e239';
}
.icon-chevron-circle-left:before {
  content: '\e23a';
}
.icon-chevron-circle-right:before {
  content: '\e23b';
}
.icon-chevron-circle-up:before {
  content: '\e23c';
}
.icon-chevron-down:before {
  content: '\e23d';
}
.icon-chevron-left:before {
  content: '\e23e';
}
.icon-chevron-right:before {
  content: '\e23f';
}
.icon-chevron-up:before {
  content: '\e240';
}
.icon-child:before {
  content: '\e241';
}
.icon-chrome:before {
  content: '\e242';
}
.icon-circle:before {
  content: '\e243';
}
.icon-circle-o:before {
  content: '\e244';
}
.icon-circle-o-notch:before {
  content: '\e245';
}
.icon-circle-thin:before {
  content: '\e246';
}
.icon-clipboard:before {
  content: '\e247';
}
.icon-clock-o:before {
  content: '\e248';
}
.icon-clone:before {
  content: '\e249';
}
.icon-cloud-2:before {
  content: '\e24a';
}
.icon-cloud-download-1:before {
  content: '\e24b';
}
.icon-cloud-upload-1:before {
  content: '\e24c';
}
.icon-code:before {
  content: '\e24d';
}
.icon-code-fork:before {
  content: '\e24e';
}
.icon-codepen:before {
  content: '\e24f';
}
.icon-coffee-1:before {
  content: '\e250';
}
.icon-cog:before {
  content: '\e251';
}
.icon-cogs:before {
  content: '\e252';
}
.icon-columns:before {
  content: '\e253';
}
.icon-comment:before {
  content: '\e254';
}
.icon-comment-o:before {
  content: '\e255';
}
.icon-commenting:before {
  content: '\e256';
}
.icon-commenting-o:before {
  content: '\e257';
}
.icon-comments:before {
  content: '\e258';
}
.icon-comments-o:before {
  content: '\e259';
}
.icon-compass:before {
  content: '\e25a';
}
.icon-compress:before {
  content: '\e25b';
}
.icon-connectdevelop:before {
  content: '\e25c';
}
.icon-contao:before {
  content: '\e25d';
}
.icon-copyright:before {
  content: '\e25e';
}
.icon-creative-commons:before {
  content: '\e25f';
}
.icon-credit-card-1:before {
  content: '\e260';
}
.icon-crop:before {
  content: '\e261';
}
.icon-crosshairs:before {
  content: '\e262';
}
.icon-css3:before {
  content: '\e263';
}
.icon-cube:before {
  content: '\e264';
}
.icon-cubes:before {
  content: '\e265';
}
.icon-cutlery:before {
  content: '\e266';
}
.icon-dashcube:before {
  content: '\e267';
}
.icon-database-2:before {
  content: '\e268';
}
.icon-delicious:before {
  content: '\e269';
}
.icon-desktop:before {
  content: '\e26a';
}
.icon-deviantart:before {
  content: '\e26b';
}
.icon-diamond:before {
  content: '\e26c';
}
.icon-digg:before {
  content: '\e26d';
}
.icon-dot-circle-o:before {
  content: '\e26e';
}
.icon-download-1:before {
  content: '\e26f';
}
.icon-dribbble:before {
  content: '\e270';
}
.icon-dropbox:before {
  content: '\e271';
}
.icon-drupal:before {
  content: '\e272';
}
.icon-eject:before {
  content: '\e273';
}
.icon-ellipsis-h-1:before {
  content: '\e274';
}
.icon-ellipsis-v:before {
  content: '\e275';
}
.icon-empire:before {
  content: '\e276';
}
.icon-envelope:before {
  content: '\e277';
}
.icon-envelope-o:before {
  content: '\e278';
}
.icon-envelope-square:before {
  content: '\e279';
}
.icon-eraser:before {
  content: '\e27a';
}
.icon-eur-3:before {
  content: '\e27b';
}
.icon-exchange:before {
  content: '\e27c';
}
.icon-exclamation:before {
  content: '\e27d';
}
.icon-exclamation-circle:before {
  content: '\e27e';
}
.icon-exclamation-triangle:before {
  content: '\e27f';
}
.icon-expand:before {
  content: '\e280';
}
.icon-expeditedssl:before {
  content: '\e281';
}
.icon-external-link:before {
  content: '\e282';
}
.icon-external-link-square:before {
  content: '\e283';
}
.icon-eye-1:before {
  content: '\e284';
}
.icon-eye-slash:before {
  content: '\e285';
}
.icon-eyedropper:before {
  content: '\e286';
}
.icon-facebook:before {
  content: '\e287';
}
.icon-facebook-official:before {
  content: '\e288';
}
.icon-facebook-square:before {
  content: '\e289';
}
.icon-fast-backward:before {
  content: '\e28a';
}
.icon-fast-forward:before {
  content: '\e28b';
}
.icon-fax:before {
  content: '\e28c';
}
.icon-female:before {
  content: '\e28d';
}
.icon-fighter-jet:before {
  content: '\e28e';
}
.icon-file:before {
  content: '\e28f';
}
.icon-file-archive-o:before {
  content: '\e290';
}
.icon-file-audio-o:before {
  content: '\e291';
}
.icon-file-code-o:before {
  content: '\e292';
}
.icon-file-excel-o:before {
  content: '\e293';
}
.icon-file-image-o:before {
  content: '\e294';
}
.icon-file-o:before {
  content: '\e295';
}
.icon-file-pdf-o:before {
  content: '\e296';
}
.icon-file-powerpoint-o:before {
  content: '\e297';
}
.icon-file-text:before {
  content: '\e298';
}
.icon-file-text-o:before {
  content: '\e299';
}
.icon-file-video-o:before {
  content: '\e29a';
}
.icon-file-word-o:before {
  content: '\e29b';
}
.icon-files-o:before {
  content: '\e29c';
}
.icon-film:before {
  content: '\e29d';
}
.icon-filter-1:before {
  content: '\e29e';
}
.icon-fire:before {
  content: '\e29f';
}
.icon-fire-extinguisher:before {
  content: '\e2a0';
}
.icon-firefox:before {
  content: '\e2a1';
}
.icon-flag-2:before {
  content: '\e2a2';
}
.icon-flag-checkered:before {
  content: '\e2a3';
}
.icon-flag-o:before {
  content: '\e2a4';
}
.icon-flask:before {
  content: '\e2a5';
}
.icon-flickr:before {
  content: '\e2a6';
}
.icon-floppy-o:before {
  content: '\e2a7';
}
.icon-folder-2:before {
  content: '\e2a8';
}
.icon-folder-o:before {
  content: '\e2a9';
}
.icon-folder-open:before {
  content: '\e2aa';
}
.icon-folder-open-o:before {
  content: '\e2ab';
}
.icon-font:before {
  content: '\e2ac';
}
.icon-fonticons:before {
  content: '\e2ad';
}
.icon-forumbee:before {
  content: '\e2ae';
}
.icon-forward:before {
  content: '\e2af';
}
.icon-foursquare:before {
  content: '\e2b0';
}
.icon-frown-o:before {
  content: '\e2b1';
}
.icon-futbol-o:before {
  content: '\e2b2';
}
.icon-gamepad:before {
  content: '\e2b3';
}
.icon-gavel:before {
  content: '\e2b4';
}
.icon-gbp:before {
  content: '\e2b5';
}
.icon-genderless:before {
  content: '\e2b6';
}
.icon-get-pocket:before {
  content: '\e2b7';
}
.icon-gg:before {
  content: '\e2b8';
}
.icon-gg-circle:before {
  content: '\e2b9';
}
.icon-gift-1:before {
  content: '\e2ba';
}
.icon-git:before {
  content: '\e2bb';
}
.icon-git-square:before {
  content: '\e2bc';
}
.icon-github:before {
  content: '\e2bd';
}
.icon-github-alt:before {
  content: '\e2be';
}
.icon-github-square:before {
  content: '\e2bf';
}
.icon-glass:before {
  content: '\e2c0';
}
.icon-globe:before {
  content: '\e2c1';
}
.icon-google:before {
  content: '\e2c2';
}
.icon-google-plus:before {
  content: '\e2c3';
}
.icon-google-plus-square:before {
  content: '\e2c4';
}
.icon-google-wallet:before {
  content: '\e2c5';
}
.icon-graduation-cap:before {
  content: '\e2c6';
}
.icon-gratipay:before {
  content: '\e2c7';
}
.icon-h-square:before {
  content: '\e2c8';
}
.icon-hacker-news:before {
  content: '\e2c9';
}
.icon-hand-lizard-o:before {
  content: '\e2ca';
}
.icon-hand-o-down:before {
  content: '\e2cb';
}
.icon-hand-o-left:before {
  content: '\e2cc';
}
.icon-hand-o-right:before {
  content: '\e2cd';
}
.icon-hand-o-up:before {
  content: '\e2ce';
}
.icon-hand-paper-o:before {
  content: '\e2cf';
}
.icon-hand-peace-o:before {
  content: '\e2d0';
}
.icon-hand-pointer-o:before {
  content: '\e2d1';
}
.icon-hand-rock-o:before {
  content: '\e2d2';
}
.icon-hand-scissors-o:before {
  content: '\e2d3';
}
.icon-hand-spock-o:before {
  content: '\e2d4';
}
.icon-hdd-o:before {
  content: '\e2d5';
}
.icon-header:before {
  content: '\e2d6';
}
.icon-headphones:before {
  content: '\e2d7';
}
.icon-heart:before {
  content: '\e2d8';
}
.icon-heart-o:before {
  content: '\e2d9';
}
.icon-heartbeat:before {
  content: '\e2da';
}
.icon-history:before {
  content: '\e2db';
}
.icon-home-1:before {
  content: '\e2dc';
}
.icon-hospital-o:before {
  content: '\e2dd';
}
.icon-hourglass:before {
  content: '\e2de';
}
.icon-hourglass-end:before {
  content: '\e2df';
}
.icon-hourglass-half:before {
  content: '\e2e0';
}
.icon-hourglass-o:before {
  content: '\e2e1';
}
.icon-hourglass-start:before {
  content: '\e2e2';
}
.icon-houzz:before {
  content: '\e2e3';
}
.icon-html5:before {
  content: '\e2e4';
}
.icon-i-cursor:before {
  content: '\e2e5';
}
.icon-ils:before {
  content: '\e2e6';
}
.icon-inbox-2:before {
  content: '\e2e7';
}
.icon-indent:before {
  content: '\e2e8';
}
.icon-industry:before {
  content: '\e2e9';
}
.icon-info-2:before {
  content: '\e2ea';
}
.icon-info-circle:before {
  content: '\e2eb';
}
.icon-inr:before {
  content: '\e2ec';
}
.icon-instagram:before {
  content: '\e2ed';
}
.icon-internet-explorer:before {
  content: '\e2ee';
}
.icon-ioxhost:before {
  content: '\e2ef';
}
.icon-italic:before {
  content: '\e2f0';
}
.icon-joomla:before {
  content: '\e2f1';
}
.icon-jpy:before {
  content: '\e2f2';
}
.icon-jsfiddle:before {
  content: '\e2f3';
}
.icon-key-2:before {
  content: '\e2f4';
}
.icon-keyboard-o:before {
  content: '\e2f5';
}
.icon-krw:before {
  content: '\e2f6';
}
.icon-language:before {
  content: '\e2f7';
}
.icon-laptop:before {
  content: '\e2f8';
}
.icon-lastfm:before {
  content: '\e2f9';
}
.icon-lastfm-square:before {
  content: '\e2fa';
}
.icon-leaf:before {
  content: '\e2fb';
}
.icon-leanpub:before {
  content: '\e2fc';
}
.icon-lemon-o:before {
  content: '\e2fd';
}
.icon-level-down:before {
  content: '\e2fe';
}
.icon-level-up:before {
  content: '\e2ff';
}
.icon-life-ring:before {
  content: '\e300';
}
.icon-lightbulb-o:before {
  content: '\e301';
}
.icon-line-chart:before {
  content: '\e302';
}
.icon-link-1:before {
  content: '\e303';
}
.icon-linkedin:before {
  content: '\e304';
}
.icon-linkedin-square-1:before {
  content: '\e305';
}
.icon-linux:before {
  content: '\e306';
}
.icon-list:before {
  content: '\e307';
}
.icon-list-alt:before {
  content: '\e308';
}
.icon-list-ol:before {
  content: '\e309';
}
.icon-list-ul:before {
  content: '\e30a';
}
.icon-location-arrow:before {
  content: '\e30b';
}
.icon-lock-2:before {
  content: '\e30c';
}
.icon-long-arrow-down:before {
  content: '\e30d';
}
.icon-long-arrow-left:before {
  content: '\e30e';
}
.icon-long-arrow-right:before {
  content: '\e30f';
}
.icon-long-arrow-up:before {
  content: '\e310';
}
.icon-magic:before {
  content: '\e311';
}
.icon-magnet:before {
  content: '\e312';
}
.icon-male:before {
  content: '\e313';
}
.icon-map:before {
  content: '\e314';
}
.icon-map-marker:before {
  content: '\e315';
}
.icon-map-o:before {
  content: '\e316';
}
.icon-map-pin:before {
  content: '\e317';
}
.icon-map-signs:before {
  content: '\e318';
}
.icon-mars:before {
  content: '\e319';
}
.icon-mars-double:before {
  content: '\e31a';
}
.icon-mars-stroke:before {
  content: '\e31b';
}
.icon-mars-stroke-h:before {
  content: '\e31c';
}
.icon-mars-stroke-v:before {
  content: '\e31d';
}
.icon-maxcdn:before {
  content: '\e31e';
}
.icon-meanpath:before {
  content: '\e31f';
}
.icon-medium:before {
  content: '\e320';
}
.icon-medkit:before {
  content: '\e321';
}
.icon-meh-o:before {
  content: '\e322';
}
.icon-mercury:before {
  content: '\e323';
}
.icon-microphone:before {
  content: '\e324';
}
.icon-microphone-slash:before {
  content: '\e325';
}
.icon-minus:before {
  content: '\e326';
}
.icon-minus-circle:before {
  content: '\e327';
}
.icon-minus-square:before {
  content: '\e328';
}
.icon-minus-square-o:before {
  content: '\e329';
}
.icon-mobile:before {
  content: '\e32a';
}
.icon-money:before {
  content: '\e32b';
}
.icon-moon-o:before {
  content: '\e32c';
}
.icon-motorcycle:before {
  content: '\e32d';
}
.icon-mouse-pointer:before {
  content: '\e32e';
}
.icon-music:before {
  content: '\e32f';
}
.icon-neuter:before {
  content: '\e330';
}
.icon-newspaper-o:before {
  content: '\e331';
}
.icon-object-group:before {
  content: '\e332';
}
.icon-object-ungroup:before {
  content: '\e333';
}
.icon-odnoklassniki:before {
  content: '\e334';
}
.icon-odnoklassniki-square:before {
  content: '\e335';
}
.icon-opencart:before {
  content: '\e336';
}
.icon-openid:before {
  content: '\e337';
}
.icon-opera:before {
  content: '\e338';
}
.icon-optin-monster:before {
  content: '\e339';
}
.icon-outdent:before {
  content: '\e33a';
}
.icon-pagelines:before {
  content: '\e33b';
}
.icon-paint-brush:before {
  content: '\e33c';
}
.icon-paper-plane:before {
  content: '\e33d';
}
.icon-paper-plane-o:before {
  content: '\e33e';
}
.icon-paperclip:before {
  content: '\e33f';
}
.icon-paragraph-1:before {
  content: '\e340';
}
.icon-pause:before {
  content: '\e341';
}
.icon-paw:before {
  content: '\e342';
}
.icon-paypal:before {
  content: '\e343';
}
.icon-pencil:before {
  content: '\e344';
}
.icon-pencil-square:before {
  content: '\e345';
}
.icon-pencil-square-o:before {
  content: '\e346';
}
.icon-phone:before {
  content: '\e347';
}
.icon-phone-square:before {
  content: '\e348';
}
.icon-picture-o:before {
  content: '\e349';
}
.icon-pie-chart-1:before {
  content: '\e34a';
}
.icon-pied-piper:before {
  content: '\e34b';
}
.icon-pied-piper-alt:before {
  content: '\e34c';
}
.icon-pinterest:before {
  content: '\e34d';
}
.icon-pinterest-p:before {
  content: '\e34e';
}
.icon-pinterest-square:before {
  content: '\e34f';
}
.icon-plane:before {
  content: '\e350';
}
.icon-play:before {
  content: '\e351';
}
.icon-play-circle:before {
  content: '\e352';
}
.icon-play-circle-o:before {
  content: '\e353';
}
.icon-plug:before {
  content: '\e354';
}
.icon-plus-1:before {
  content: '\e355';
}
.icon-plus-circle:before {
  content: '\e356';
}
.icon-plus-square:before {
  content: '\e357';
}
.icon-plus-square-o:before {
  content: '\e358';
}
.icon-power-off:before {
  content: '\e359';
}
.icon-print:before {
  content: '\e35a';
}
.icon-puzzle-piece:before {
  content: '\e35b';
}
.icon-qq:before {
  content: '\e35c';
}
.icon-qrcode:before {
  content: '\e35d';
}
.icon-question-1:before {
  content: '\e35e';
}
.icon-question-circle:before {
  content: '\e35f';
}
.icon-quote-left:before {
  content: '\e360';
}
.icon-quote-right:before {
  content: '\e361';
}
.icon-random:before {
  content: '\e362';
}
.icon-rebel:before {
  content: '\e363';
}
.icon-recycle:before {
  content: '\e364';
}
.icon-reddit:before {
  content: '\e365';
}
.icon-reddit-square:before {
  content: '\e366';
}
.icon-refresh-1:before {
  content: '\e367';
}
.icon-registered:before {
  content: '\e368';
}
.icon-renren:before {
  content: '\e369';
}
.icon-repeat:before {
  content: '\e36a';
}
.icon-reply:before {
  content: '\e36b';
}
.icon-reply-all:before {
  content: '\e36c';
}
.icon-retweet:before {
  content: '\e36d';
}
.icon-road:before {
  content: '\e36e';
}
.icon-rocket:before {
  content: '\e36f';
}
.icon-rss:before {
  content: '\e370';
}
.icon-rss-square:before {
  content: '\e371';
}
.icon-rub:before {
  content: '\e372';
}
.icon-safari:before {
  content: '\e373';
}
.icon-scissors:before {
  content: '\e374';
}
.icon-search-1:before {
  content: '\e375';
}
.icon-search-minus-1:before {
  content: '\e376';
}
.icon-search-plus-1:before {
  content: '\e377';
}
.icon-sellsy:before {
  content: '\e378';
}
.icon-server:before {
  content: '\e379';
}
.icon-share:before {
  content: '\e37a';
}
.icon-share-alt:before {
  content: '\e37b';
}
.icon-share-alt-square:before {
  content: '\e37c';
}
.icon-share-square:before {
  content: '\e37d';
}
.icon-share-square-o:before {
  content: '\e37e';
}
.icon-shield:before {
  content: '\e37f';
}
.icon-ship:before {
  content: '\e380';
}
.icon-shirtsinbulk:before {
  content: '\e381';
}
.icon-shopping-cart:before {
  content: '\e382';
}
.icon-sign-in:before {
  content: '\e383';
}
.icon-sign-out:before {
  content: '\e384';
}
.icon-signal:before {
  content: '\e385';
}
.icon-simplybuilt:before {
  content: '\e386';
}
.icon-sitemap:before {
  content: '\e387';
}
.icon-skyatlas:before {
  content: '\e388';
}
.icon-skype:before {
  content: '\e389';
}
.icon-slack:before {
  content: '\e38a';
}
.icon-sliders:before {
  content: '\e38b';
}
.icon-slideshare:before {
  content: '\e38c';
}
.icon-smile-o:before {
  content: '\e38d';
}
.icon-sort:before {
  content: '\e38e';
}
.icon-sort-alpha-asc:before {
  content: '\e38f';
}
.icon-sort-alpha-desc:before {
  content: '\e390';
}
.icon-sort-amount-asc:before {
  content: '\e391';
}
.icon-sort-amount-desc:before {
  content: '\e392';
}
.icon-sort-asc:before {
  content: '\e393';
}
.icon-sort-desc:before {
  content: '\e394';
}
.icon-sort-numeric-asc:before {
  content: '\e395';
}
.icon-sort-numeric-desc:before {
  content: '\e396';
}
.icon-soundcloud:before {
  content: '\e397';
}
.icon-space-shuttle:before {
  content: '\e398';
}
.icon-spinner:before {
  content: '\e399';
}
.icon-spoon:before {
  content: '\e39a';
}
.icon-spotify:before {
  content: '\e39b';
}
.icon-square:before {
  content: '\e39c';
}
.icon-square-o:before {
  content: '\e39d';
}
.icon-stack-exchange:before {
  content: '\e39e';
}
.icon-stack-overflow:before {
  content: '\e39f';
}
.icon-star-1:before {
  content: '\e3a0';
}
.icon-star-half:before {
  content: '\e3a1';
}
.icon-star-half-o:before {
  content: '\e3a2';
}
.icon-star-o:before {
  content: '\e3a3';
}
.icon-steam:before {
  content: '\e3a4';
}
.icon-steam-square:before {
  content: '\e3a5';
}
.icon-step-backward:before {
  content: '\e3a6';
}
.icon-step-forward:before {
  content: '\e3a7';
}
.icon-stethoscope:before {
  content: '\e3a8';
}
.icon-sticky-note:before {
  content: '\e3a9';
}
.icon-sticky-note-o:before {
  content: '\e3aa';
}
.icon-stop:before {
  content: '\e3ab';
}
.icon-street-view:before {
  content: '\e3ac';
}
.icon-strikethrough:before {
  content: '\e3ad';
}
.icon-stumbleupon:before {
  content: '\e3ae';
}
.icon-stumbleupon-circle:before {
  content: '\e3af';
}
.icon-subscript:before {
  content: '\e3b0';
}
.icon-subway:before {
  content: '\e3b1';
}
.icon-suitcase:before {
  content: '\e3b2';
}
.icon-sun-o:before {
  content: '\e3b3';
}
.icon-superscript:before {
  content: '\e3b4';
}
.icon-table:before {
  content: '\e3b5';
}
.icon-tablet:before {
  content: '\e3b6';
}
.icon-tachometer:before {
  content: '\e3b7';
}
.icon-tag:before {
  content: '\e3b8';
}
.icon-tags:before {
  content: '\e3b9';
}
.icon-tasks-1:before {
  content: '\e3ba';
}
.icon-taxi:before {
  content: '\e3bb';
}
.icon-television:before {
  content: '\e3bc';
}
.icon-tencent-weibo:before {
  content: '\e3bd';
}
.icon-terminal:before {
  content: '\e3be';
}
.icon-text-height:before {
  content: '\e3bf';
}
.icon-text-width:before {
  content: '\e3c0';
}
.icon-th:before {
  content: '\e3c1';
}
.icon-th-large:before {
  content: '\e3c2';
}
.icon-th-list:before {
  content: '\e3c3';
}
.icon-thumb-tack:before {
  content: '\e3c4';
}
.icon-thumbs-down:before {
  content: '\e3c5';
}
.icon-thumbs-o-down:before {
  content: '\e3c6';
}
.icon-thumbs-o-up:before {
  content: '\e3c7';
}
.icon-thumbs-up:before {
  content: '\e3c8';
}
.icon-ticket:before {
  content: '\e3c9';
}
.icon-times-1:before {
  content: '\e3ca';
}
.icon-times-circle:before {
  content: '\e3cb';
}
.icon-times-circle-o:before {
  content: '\e3cc';
}
.icon-tint:before {
  content: '\e3cd';
}
.icon-toggle-off:before {
  content: '\e3ce';
}
.icon-toggle-on:before {
  content: '\e3cf';
}
.icon-trademark:before {
  content: '\e3d0';
}
.icon-train:before {
  content: '\e3d1';
}
.icon-transgender:before {
  content: '\e3d2';
}
.icon-transgender-alt:before {
  content: '\e3d3';
}
.icon-trash:before {
  content: '\e3d4';
}
.icon-trash-o:before {
  content: '\e3d5';
}
.icon-tree-1:before {
  content: '\e3d6';
}
.icon-trello:before {
  content: '\e3d7';
}
.icon-tripadvisor:before {
  content: '\e3d8';
}
.icon-trophy:before {
  content: '\e3d9';
}
.icon-truck:before {
  content: '\e3da';
}
.icon-try:before {
  content: '\e3db';
}
.icon-tty:before {
  content: '\e3dc';
}
.icon-tumblr:before {
  content: '\e3dd';
}
.icon-tumblr-square:before {
  content: '\e3de';
}
.icon-twitch:before {
  content: '\e3df';
}
.icon-twitter:before {
  content: '\e3e0';
}
.icon-twitter-square:before {
  content: '\e3e1';
}
.icon-umbrella:before {
  content: '\e3e2';
}
.icon-underline:before {
  content: '\e3e3';
}
.icon-undo-2:before {
  content: '\e3e4';
}
.icon-university:before {
  content: '\e3e5';
}
.icon-unlock-1:before {
  content: '\e3e6';
}
.icon-unlock-alt:before {
  content: '\e3e7';
}
.icon-upload-1:before {
  content: '\e3e8';
}
.icon-usd-3:before {
  content: '\e3e9';
}
.icon-user:before {
  content: '\e3ea';
}
.icon-user-md:before {
  content: '\e3eb';
}
.icon-user-plus:before {
  content: '\e3ec';
}
.icon-user-secret:before {
  content: '\e3ed';
}
.icon-user-times:before {
  content: '\e3ee';
}
.icon-users-2:before {
  content: '\e3ef';
}
.icon-venus:before {
  content: '\e3f0';
}
.icon-venus-double:before {
  content: '\e3f1';
}
.icon-venus-mars:before {
  content: '\e3f2';
}
.icon-viacoin:before {
  content: '\e3f3';
}
.icon-video-camera:before {
  content: '\e3f4';
}
.icon-vimeo:before {
  content: '\e3f5';
}
.icon-vimeo-square:before {
  content: '\e3f6';
}
.icon-vine:before {
  content: '\e3f7';
}
.icon-vk:before {
  content: '\e3f8';
}
.icon-volume-down:before {
  content: '\e3f9';
}
.icon-volume-off:before {
  content: '\e3fa';
}
.icon-volume-up:before {
  content: '\e3fb';
}
.icon-weibo:before {
  content: '\e3fc';
}
.icon-weixin:before {
  content: '\e3fd';
}
.icon-whatsapp:before {
  content: '\e3fe';
}
.icon-wheelchair:before {
  content: '\e3ff';
}
.icon-wifi-2:before {
  content: '\e400';
}
.icon-wikipedia-w:before {
  content: '\e401';
}
.icon-windows-1:before {
  content: '\e402';
}
.icon-wordpress:before {
  content: '\e403';
}
.icon-wrench:before {
  content: '\e404';
}
.icon-xing:before {
  content: '\e405';
}
.icon-xing-square:before {
  content: '\e406';
}
.icon-y-combinator:before {
  content: '\e407';
}
.icon-yahoo:before {
  content: '\e408';
}
.icon-yelp:before {
  content: '\e409';
}
.icon-youtube:before {
  content: '\e40a';
}
.icon-youtube-play:before {
  content: '\e40b';
}
.icon-youtube-square-1:before {
  content: '\e40c';
}
