@import 'icomoon.css';
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"),
    url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"),
    url("../fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* @import url('icomoon.css'); */

textarea,
.zc-data-list-filters,
.ui-inputgroup input,
.mat-stepper-horizontal,
.mat-stepper-vertical,
.mat-tab-group,
.mat-tab-label,
.mat-tab-link,
.ui-widget,
.ui-widget button,
.ui-widget input,
.ui-widget select,
.ui-widget textarea {
  font-family: "Roboto-Regular" !important;
}
body {
  font-family: "Roboto-Regular" !important;
}
a {
  cursor: pointer;
}
.main-sticky-header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  height: 50px;
}
.welcome-user-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}
.welcome-user-pic img {
  width: 100%;
}
.user-details ul {
  padding: 0;
}
.user-details .user-menu button {
  border-radius: 0;
}
header .header-rightside ul li a {
  font-size: 14px;
  display: flex;
  align-items: center;
}
header .header-rightside ul li .user-details .dropdown-toggle:after {
  top: 25px;
}
.dropdown-toggle::after{
  display: none;
}
.sky-blue {
  color: #01aef0 !important;
}
header .header-rightside ul li .user-details.show .user-menu {
  min-width: auto;
}
header .header-rightside ul li .user-details .user-menu ul li .user-info {
  padding: 5px 10px;
  background: #8c8cb1;
}
header .header-rightside ul li .user-details .user-menu ul li .user-info label {
  color: #fff;
}
header .header-rightside ul li .user-details .user-menu ul li .user-info:hover {
  background: #6c6b8b;
}

header .header-rightside ul li .user-details .user-menu button {
  padding: 5px 10px;
  background: #8c8cb1;
}
header .header-rightside ul li .user-details .user-menu button:hover {
  background: #6c6b8b;
}
header .header-rightside ul li .user-details .user-menu:after {
  border-bottom: 10px solid #8c8cb1;
}
.table-header .zc-data-list-title {
  padding: 5px 0;
  margin: 0;
}
.filter-position-top {
  padding: 0;
}
.zc-widget-data-list .ui-table-thead > tr > th {
  background-color: #a5a5be !important;
  font-size: 13px;
  font-weight: normal;
  padding-bottom: 8px !important;
  padding-top: 8px !important;
  border: none;
  color: #fff !important;
  line-height: 14px;
}
.zc-widget-data-list .ui-table-thead > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.zc-widget-data-list th.dropdown .dropdown-toggle::before {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: 0.25em;
  content: "";
  border-top: 0.4em solid #757575;
  border-right: 0.4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
  position: absolute;
  top: 3px;
  left: 5px;
  z-index: 1;
}
.zc-widget-data-list th .dropdown-menu .dropdown-item.ui-state-highlight .ui-sortable-column-icon:before {
  color: #424242 !important;
}
.zc-widget-data-list .ui-table {
  box-shadow: none;
}
.project-list-widget .zc-widget-data-list .ui-table-tbody > tr > td:first-child {
  border-left: 5px solid #21baf3 !important;
}
.zc-data-list-filters {
  margin-top: 0 !important;
}
.zc-widget-data-list .ui-table-tbody tr td {
  padding: 5px 0px !important;
  border-right: none !important;
  border-left: none !important;
  background-color: #fff !important;
  border-color: #e0e0e0 !important;
}
.zc-widget-data-list .ui-table-tbody tr td:first-child div {
  font-size: 12px !important;
  color: #221f60 !important;
}
.zc-widget-data-list .ui-table-tbody tr td span {
  color: #a0a0a0;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}
body .ui-table .ui-table-tbody > tr > td {
  border: 0;
  border-bottom: 1px solid #d0d4d5;
}
body .ui-table .ui-table-tbody > tr > td > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 99%;
  display: block;
}
.zc-widget-data-list .ui-paginator-bottom {
  /* text-align: center !important; */
  padding: 5px 15px !important;
}
.ui-paginator .ui-paginator-right-content {
  padding-top: 6px;
}
.grid-list-left {
  padding: 0 20px 0 0;
}
.col-12.grid-list-left {
  padding: 0;
}
.grid-list-right {
  padding: 0;
}

.border-bottom {
  border-bottom: 1px solid #ccc;
}

.main-sticky-header .header-leftside .logo img {
  width: auto;
  height: 34px;
}
.main-sticky-header .header-rightside ul {
  margin: 0;
}
.breadcrumb-widget {
  top: 50px !important;
  font-size: 14px;
  min-height: auto;
  background-color: #32316b !important;
  color: #fff;
  display: flex;
  padding: 0;
  align-items: center;
  max-height: initial;
  height: 35px;
}
.breadcrumb-widget .sidebar-toggle {
  cursor: pointer;
  font-size: 24px;
  color: #9c98bf;
}
.breadcrumb-widget .sidebar-toggle:hover {
  color: #fff;
}

.side-menu {
  background: #32316b !important;
  background-color: #32316b !important;
  position: fixed;
  height: 100%;
  top: 84px !important;
  width: 170px;
}
.side-menu div zc-menu ul {
  margin: 0px;
}
.side-menu div .zc-menu::-webkit-scrollbar {
  width: 0.3em;
}
.side-menu div .zc-menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.side-menu div .zc-menu::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.side-menu div .zc-menu li:hover {
  background-color: #201d5e !important;
}
.side-menu div .zc-menu li:first-child {
  border-top: 1px solid #767676;
}
.side-menu div .zc-menu .nav-item {
  font-size: 13px;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid rgba(118, 118, 118, 0.22) !important;
}
.side-menu div .zc-menu .nav-item.active {
  color: #252060 !important;
  background: #d8dae6 none repeat scroll 0 0 !important;
}
.side-menu div .zc-menu .nav-item.nav-dropdown.open {
  background-color: #201d5e !important;
}
.side-menu div .zc-menu .nav-item.nav-dropdown.open span {
  color: #fff !important;
}
.side-menu div .zc-menu .nav-item a {
  display: block;
  padding: 9px 15px 9px 17px !important;
}
.side-menu div .zc-menu .nav-item .nav-link {
  display: block !important;
  padding: 9px 15px 9px 17px !important;
  position: relative !important;
  height: auto !important;
  line-height: initial !important;
  outline: none !important;
  display: flex !important;
  align-items: center;
  color: #9999b5 !important;
}
.side-menu div .zc-menu .nav-item .nav-link.active {
  color: #252060 !important;
  background: #d8dae6 none repeat scroll 0 0 !important;
}
.side-menu div .zc-menu .nav-item .nav-link.active::before {
  background: #ed313f none repeat scroll 0 0;
  content: "";
  height: 102%;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
}
.side-menu div .zc-menu .nav-item .nav-link.active i {
  color: #252060 !important;
}
.side-menu div .zc-menu .nav-item .nav-link.active:hover {
  color: #252060 !important;
  background: #d8dae6 none repeat scroll 0 0 !important;
}
.side-menu div .zc-menu .nav-item .nav-link.active span {
  color: #252060 !important;
}
.side-menu div .zc-menu .nav-item .nav-link:hover {
  background: #201d5e !important;
  color: #fff !important;
}
.side-menu div .zc-menu .nav-item .nav-link i {
  line-height: 30px !important;
  font-size: 16px !important;
  width: 50px !important;
  color: #fff !important;
}
.side-menu div .zc-menu .nav-item .nav-link .nav-link-text {
  margin-left: 30px !important;
  font-size: 13px !important;
}
.side-menu div .zc-menu .nav-item .nav-dropdown-items {
  z-index: inherit;
  background-color: #c7cbde !important;
  padding: 0;
}
.side-menu div .zc-menu .nav-item .nav-dropdown-items .nav-item {
  font-size: 13px;
  position: relative;
  height: auto !important;
  border-bottom: 1px solid rgba(118, 118, 118, 0.22) !important;
}
.side-menu div .zc-menu .nav-item .nav-dropdown-items .nav-item.active {
  background-color: #a5a5bf !important;
  color: #fff !important;
}
.side-menu div .zc-menu .nav-item .nav-dropdown-items .nav-item:hover {
  background-color: #a5a5bf !important;
  color: #fff !important;
}
.side-menu div .zc-menu .nav-item .nav-dropdown-items .nav-item .nav-link:hover {
  background-color: #a5a5bf !important;
  color: #fff !important;
}
.side-menu div .zc-menu .nav-item .nav-dropdown-items .nav-item .nav-link:hover i {
  color: #fff !important;
}
.side-menu div .zc-menu .nav-item .nav-dropdown-items .nav-item .nav-link:hover span {
  color: #fff !important;
}
.side-menu div .zc-menu .nav-item .nav-dropdown-items .nav-item .nav-link.active {
  background-color: #a5a5bf !important;
  color: #fff !important;
}
.side-menu div .zc-menu .nav-item .nav-dropdown-items .nav-item .nav-link.active::before {
  background: #a5a5bf none repeat scroll 0 0;
  content: "";
  height: 102%;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
}
.side-menu div .zc-menu .nav-item .nav-dropdown-items .nav-item .nav-link.active:hover {
  background-color: #a5a5bf !important;
  color: #fff !important;
}
.side-menu div .zc-menu .nav-item .nav-dropdown-items .nav-item .nav-link.active i {
  color: #fff !important;
}
.side-menu div .zc-menu .nav-item .nav-dropdown-items .nav-item .nav-link.active span {
  color: #fff !important;
}
.side-menu div .zc-menu .nav-item .nav-dropdown-items .nav-item .nav-link i {
  font-size: 12px !important;
  color: #32316b !important;
}
.side-menu div .zc-menu .nav-item .nav-dropdown-items .nav-item .nav-link span {
  padding-left: 35px !important;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 11px !important;
  color: #32316b !important;
  white-space: nowrap;
}
ul.zc-menu li.nav-item.nav-dropdown.open .nav-dropdown-items{
  overflow-y: scroll;
}
ul.zc-menu li.nav-item .nav-dropdown-items{
  overflow: hidden;
}
ul.zc-menu li.nav-item.nav-dropdown.open .nav-dropdown-items::-webkit-scrollbar {
  width: 5px;
}
/* Track */
ul.zc-menu li.nav-item.nav-dropdown.open .nav-dropdown-items::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
ul.zc-menu li.nav-item.nav-dropdown.open .nav-dropdown-items::-webkit-scrollbar-thumb {
  background: #888; 
}
/* Handle on hover */
ul.zc-menu li.nav-item.nav-dropdown.open .nav-dropdown-items::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.main-content {
  background: #d8dae6;
}
.main-content .p-contain {
  padding: 20px 20px;
  width: calc(100%) !important;
  max-width: 100%;
}
.ui-table table {
  border-collapse: separate;
  border-spacing: 0 4px;
}
.ui-table-scrollable-body {
  position: relative;
}
.grid-list-right .ui-table-scrollable-body{
  min-height: calc(100vh - 210px) !important;
}
.white-bg {
  background: #fff !important;
}
.pt10 {
  padding-top: 10px;
}
.list-view-main {
  padding: 0;
  margin: 0;
}
.list-view-main .client-stage-view {
  padding: 10px;
}
.list-view-main .client-stage-view ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.list-view-main .client-stage-view ul li {
  display: inline-block;
  list-style: none;
  width: 24%;
  border-right: 2px solid #ccc;
  margin-right: 10px;
}
.list-view-main .client-stage-view ul li:last-child {
  border-right: 0;
}
.list-view-main .client-stage-view ul li span {
  display: block;
  color: #221f60;
  font-size: 12px;
}
.list-view-main .client-stage-view ul li span:first-child {
  color: #a0a0a0;
  font-size: 12px;
  line-height: 15px;
}
.list-view-main .border-pattern {
  background: rgba(0, 0, 0, 0) url(../images/border-pattern.png) repeat-x scroll center bottom;
  padding-bottom: 8px;
}
.list-view-main .list-view-str ul {
  padding: 0;
}
.list-view-main .list-view-str ul li {
  padding: 0 0px 0px 30px;
  position: relative;
  list-style: none;
}
.list-view-main .list-view-str ul li:before {
  background: #33316c none repeat scroll 0 0;
  border-radius: 50%;
  color: #fff;
  content: "";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 20px;
}
.list-view-main .list-view-str ul li::after {
  background: #a1a2be none repeat scroll 0 0;
  content: "";
  display: block;
  height: 100%;
  left: 9px;
  position: absolute;
  top: 30px;
  width: 1px;
}
.list-view-main .list-view-str ul li:last-child::after {
  background: none;
  content: "";
  display: none;
  height: 100%;
  left: 9px;
  position: absolute;
  top: 30px;
  width: 1px;
}
.company-view .card .list-view-main .list-view-str ul li::after {
  background: #a1a2be none repeat scroll 0 0;
  content: "";
  display: block;
  height: 100%;
  left: 9px;
  position: absolute;
  top: 30px;
  width: 1px;
}
.company-view .card:last-child .list-view-main .list-view-str ul li::after {
  background: none;
  content: "";
  display: none;
  height: 100%;
  left: 9px;
  position: absolute;
  top: 30px;
  width: 1px;
}
.company-view .card .list-view-main .list-view-str ul {
  margin: 0;
}
.list-view-main .list-view-str ul li .list-str {
  position: relative;
}
.list-view-main .list-view-str ul li .list-str::before {
  background: #fff none repeat scroll 0 0;
  border-radius: 50%;
  content: "";
  display: block;
  height: 6px;
  left: -23px;
  position: absolute;
  top: 17px;
  width: 6px;
}
.list-view-main .list-view-str ul li .list-str h4 {
  padding-top: 12px;
  color: #01007a !important;
  padding: 12px 0 10px 0;
  margin: 0;
  font-size: 14px !important;
}
.list-view-main .list-view-str ul li .list-str .list-data {
  display: inline-block;
  margin-right: 0%;
  margin-bottom: 0.3%;
  vertical-align: top;
  width: 33.3%;
  cursor: pointer;
  padding: 6px !important;
  background: #fff !important;
  align-items: start;
  border-right: 3px solid #d8dae6;
}
.list-view-main .list-view-str ul li .list-str .list-data:last-child {
  margin-right: 0 !important;
}
.list-view-main .list-view-str ul li .list-str .list-data:nth-of-type(2n + 2) {
  border-right: none;
}
.list-view-main .list-view-str ul li .list-str .list-data .list-img {
  font-size: 24px;
  margin-right: 5px;
  padding: 7px 9px 5px;
  line-height: 24px;
  background: #e2e3eb;
  color: #fff;
  display: inline-block;
}
.list-view-main .list-view-str ul li .list-str .list-data .list-img i {
  color: #01007a !important;
}
.list-view-main .list-view-str ul li .list-str .list-data .list-text {
  min-height: auto;
  position: relative;
  display: inline-block;
  margin-left: 5px;
}
.list-view-main .list-view-str ul li .list-str .list-data .list-text h5 {
  margin: 0;
  word-wrap: break-word;
  font-size: 12px;
  color: #221f60 !important;
  font-family: "Roboto-Regular";
}
.list-view-main .list-view-str ul li .list-str .list-data .list-text span {
  font-size: 11px;
  color: #a9aaae !important;
}
.main-content {
  padding-top: 85px !important;
}
.show-menu .main-content {
  padding-top: 85px !important;
  min-height: calc(100vh - 0px);
  margin-left: 170px;
}
.list-bgheader-view {
  background-color: #5e74b0;
}
.list-header-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.list-header-view h3 {
  margin: 0;
  display: flex;
  align-items: center;
  padding: 10px;
  font-weight: normal;
}
.list-header-title p {
  margin: 0;
  font-size: 12px;
  font-weight: normal;
}
.list-header-view ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.list-header-view li {
  padding: 7px 15px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.list-header-view li a {
  color: #fff;
  font-size: 40px;
  margin-top: 6px;
}
.status-btn label {
  font-size: 12px;
}
.status-btn p {
  margin: 0;
}
.status-btn .btn {
  padding: 0px 8px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 0px !important;
}
.list-bottomheader-view {
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}
.list-bottomheader-view p {
  margin: 0;
  padding: 5px 15px;
  font-size: 12px;
  color: #fff;
  font-style: italic;
}
.stage-form-widget .form-group.view {
  margin-bottom: 0px;
}
.form-group.view > label {
  color: #a0a0a0 !important;
  font-size: 12px;
  line-height: 15px;
  /* order: 2; */
}
.num-count {
  background: #28292d none repeat scroll 0 0;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-family: "robotobold";
  height: 32px;
  line-height: 32px;
  margin-right: 5px;
  text-align: center;
  width: 32px;
}

.back-groud-image {
  background-color: #fff;
}
.login-container {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.login-container:before {
  content: "";
  /* background-image: url(../images/login-bg-new.jpg); */
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 420px;
  top: 50%;
  margin-top: -210px;
  position: absolute;
  z-index: 1;
}
.login-container app-page {
  width: 100%;
}
.login-container .p-contain {
  width: 100%;
  margin: 0 auto;
}
.login-container .login-two-blocks {
  display: flex !important;
  flex-direction: row !important;
  max-width: 100% !important;
  width: 100% !important;
  background: 0 0 !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  align-items: flex-start;
}
.login-container .block {
  width: 100%;
  display: flex !important;
  flex-direction: row;
  min-height: auto !important;
  border-radius: 0 !important;
  align-items: center;
}
.login-container .block h2 {
  text-align: left;
  color: #fff;
}
.login-container .block .col-md-6 {
  flex: 1 1 90%;
  max-width: 90%;
}
.login-container .block .col-md-6 p {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  color: #fff;
  padding: 10px;
}
.login-container .block zc-com-render:first-child {
  flex: 1 1 55%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9999;
}
.login-container .block zc-com-render:first-child .bg-img {
  color: #fff;
}
.login-container .block zc-com-render:nth-child(2) {
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  position: relative;
  background-color: transparent;
  z-index: 9999;
}
.login-container .block zc-com-render:nth-child(2) #wdLoginForm_form {
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.23); */
  max-width: 400px !important;
  margin: 0 auto !important;
  /* background-color: #fff; */
  padding: 10px 30px 30px;
  display: block;
  /* height: 478px; */
  margin-top: 0px !important;
  position: relative;
}
/* .login-container .block zc-com-render:nth-child(2) #wdLoginForm_form:after {
  position: absolute;
  width: 100%;
  background: #ee323f none repeat scroll 0 0;
  bottom: -15px;
  left: 0;
  height: 30px;
  content: "";
} */
.login-container .block zc-com-render:nth-child(2) #wdLoginForm_form h3 {
  /* padding: 45px 40px 30px; */
  margin: 0;
  color: #fff;
  font-size: 30px;
  font-weight: normal;
  text-align: left;
  background: transparent;
  font-family: "Roboto-Regular";
  font-size: 30px !important;
  border: none;
  padding: 0 !important;
}
.login-container .custom-control.custom-checkbox {
  padding-left: 1.6rem;
}
.login-container .block zc-com-render:nth-child(2) #wdLoginForm_form .form-group {
  margin-bottom: 25px;
}
.login-container .block zc-com-render:nth-child(2) #wdLoginForm_form label {
  font-size: 14px;
  color: #fff !important;
  margin-top: 2px;
}
.login-container .block zc-com-render:nth-child(2) #wdLoginForm_form .form-control {
  color: #221f60 !important;
  line-height: 1.5 !important;
  height: 40px;
  border-radius: 4px;
  font-size: 14px;
}
.form-control {
  font-size: 12px !important;
  height: 29px;
  border-radius: 0;
}
body .ui-inputtext {
  font-size: 12px !important;
}
.login-container .block zc-com-render:nth-child(2) #wdLoginForm_form .btn-primary {
  background-color: #0090ff;
  border-color: #0090ff;
  width: 100%;
  font-size: 18px;
  padding: 2px 30px;
  text-transform: uppercase;
  width: auto;
  min-width: 150px;
  margin-top: 10px;
  height: auto;
}
.login-container .block zc-com-render:nth-child(2) #wdLoginForm_form .btn-primary:hover {
  opacity: 0.8 !important;
}
.invalid-feedback {
  font-size: 80% !important;
}
/* new styles for login */
.login-container-block {
  display: flex !important;
  flex-direction: row !important;
  max-width: 100% !important;
  width: 100% !important;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}
.login-container .block zc-form form {
  background-color: transparent !important;
}
.login-container-block zc-com-render:first-child {
  min-height: 100vh;
  flex: 1 1 60%;
  display: flex;
  align-items: center;
  /* background-color: #fff; */
  position: relative;
}
.about-widget {
  text-align: right;
  padding-right: 50px;
  padding-left: 120px;
  margin-right: 15px;
  border-radius: 5px;
  color: #000;
  position: relative;
}
.about-widget .image-div {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 25px;
  padding-bottom: 5px;
}
.about-widget .image-div img {
  width: 100%;
}
.about-widget h4 {
  margin: 0 0 15px;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 35px;
}
.about-widget p.about-the-survey {
  position: absolute;
  left: -25px;
  transform: rotate(-90deg);
  font-size: 24px;
  padding: 10px;
  margin: 0;
  transform-origin: center;
  bottom: 200px;
}
.about-widget p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
}
.about-widget footer {
  background: transparent;
  border-top: 1px solid #e4e4e4;
  font-size: 12px;
  padding: 5px;
}
/* .login-container-block zc-com-render:first-child::before {
  content: '';
  position: absolute;
  right: -15px;
  width: 15px;
  height: 100%;
  display: block;
  top: 0;
  background-color: rgba(0,0,0,0.3);
} */
.login-container-block zc-com-render:nth-child(2) {
  min-height: 100vh;
  flex: 1 1 40%;
  display: flex;
  align-items: center;
  padding-left: 80px;
  background-image: url(../images/login-right.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  position: relative;
}
.login-container-block zc-com-render:nth-child(2)::before {
  content: "";
  background: #22405f;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  opacity: 0.8;
  bottom: 0;
  z-index: -1;
}

@media (min-width: 1443px) {
  .show-menu .main-content {
    padding-top: 85px !important;
    min-height: calc(100vh - 0px);
  }
  .show-menu .side-menu {
    top: 84px !important;
  }
  .breadcrumb-widget {
    top: 50px !important;
  }
  .p-contain {
    width: 100% !important;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .login-container .block zc-com-render:nth-child(2) #wdLoginForm_form::after {
    bottom: -25px;
  }
  .login-container .p-contain {
    width: 100% !important;
    max-width: 100%;
  }
  .list-view-main .list-view-str ul li .list-str .list-data:nth-of-type(2n + 2) {
    border-right: 3px solid #d8dae6;
  }
  .list-view-main .list-view-str ul li .list-str .list-data:nth-of-type(3n + 3) {
    border-right: none;
  }
}
@media (max-width: 1442px) {
  .list-view-main .list-view-str ul li .list-str .list-data {
    width: 50%;
  }
}
@media (max-width: 1366px) {
  .login-container zc-com-render:nth-child(2) #wdLoginForm_form h3 {
    font-size: 30px !important;
    border: none;
    padding: 0 !important;
  }
  .login-container zc-com-render:nth-child(2) #wdLoginForm_form label {
    font-size: 13px !important;
  }
  .login-container zc-com-render:nth-child(2) #wdLoginForm_form .form-control {
    font-size: 12px !important;
  }
  .list-view-main .list-view-str ul li .list-str .list-data {
    width: 50%;
  }
}
@media (max-width: 1200px) {
  .login-container .p-contain {
    /* width: 960px; */
    width: 100%;
  }
}
.main-content .p-contain {
  background: #d8dae6;
}
zc-form h3 {
  background: #fff none repeat scroll 0 0;
  color: #221f60;
  font-size: 14px;
  padding: 15px;
  text-align: left;
  margin: 0;
  font-weight: bold;
  font-family: "Roboto-Bold";
  border-bottom: 1px solid #ccc;
}
.complete-view-cls zc-form h3 {
  border-top: 6px solid #9b9cb9;
  margin-bottom: 10px;
  padding: 5px;
}
.complete-view-cls zc-form .form-parent-div {
  padding-top: 0;
}
.complete-view-cls .grid-list-left {
  background-color: #fff;
}
.complete-view-cls zc-form h5 {
  margin: 0 0 5px;
}
.btn {
  border-radius: 0.12rem !important;
  padding: 2px 8px !important;
  font-size: 12px;
  border-radius: 0 !important;
}

.block zc-form form {
  background: #fff;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 100%;
  margin-bottom: 15px;
}
.block.grid-list-left .block zc-form form {
  padding-top: 15px;
}
form formly-form formly-field formly-wrapper-form-field form-group {
  padding: 0;
  margin: 0 0 5px !important;
}

form formly-form formly-field formly-wrapper-form-field form-group .field zc-button button.btn.btn-light {
  background: #00ae8e !important;
  padding: 3px 15px !important;
  font-size: 12px;
  color: #fff;
}

form formly-form formly-field formly-wrapper-form-field form-group .field zc-button button.btn.btn-primary {
  background-color: #221f60;
  border-color: #221f60;
  padding: 3px 15px !important;
  font-size: 12px;
}

form formly-form formly-field formly-wrapper-form-field zc-button button.btn.btn-light {
  background: #00ae8e !important;
  padding: 2px 8px !important;
  border: 1px solid #00ae8e;
  font-size: 12px;
  color: #fff;
}
form formly-form formly-field formly-wrapper-form-field zc-button button.btn.btn-light:hover {
  background: #035747 !important;
  border: 1px solid #035747;
}
form formly-form formly-field formly-wrapper-form-field zc-button button.btn.btn-primary {
  background-color: #221f60;
  border-color: #221f60;
  /* padding: 3px 15px !important; */
  font-size: 12px;
}
form formly-form formly-field formly-wrapper-form-field zc-button button.btn.btn-primary:hover {
  background-color: #413c9c;
  border-color: #413c9c;
}
button.btn.btn-secondary:hover {
  background-color: #898e92;
  border-color: #898e92;
}

.contact-info .form-group.view label {
  font-size: 12px;
  margin-top: 0px;
  color: #221f60;
  font-family: "Roboto-Regular" !important;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 99.5%;
}
.form-group label {
  font-size: 12px;
  margin-top: 0px;
  font-family: "Roboto-Regular" !important;
  color: #221f60;
}
form formly-form formly-field form-group {
  padding: 0;
  margin: 0 0 5px !important;
}
/* form formly-form .ui-corner-all {
  border: none !important;
} */
/* form.ng-pristine.ng-invalid.ng-touched {
  padding: 10px;
  background: #fff;
} */

body .ui-corner-all {
  border-radius: 0;
}
.ui-dropdown .ui-dropdown-label {
  height: 28px;
  border-radius: 0 !important;
}
.contact-info {
  padding: 0px;
}
.contact-info .col-3 .view,
.contact-info .col-4 .view,
.contact-info .col-6 .view {
  border-right: 1px solid #ccc;
  margin: 0;
  line-height: 13px;
  display: flex;
  flex-direction: column;
}
.contact-info .col-3,
.contact-info .col-4,
.contact-info .col-6 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
  margin: 10px 0;
}
.contact-info .col-3:nth-child(4) .form-group.view {
  margin-right: 10px;
}
.contact-info .col-4:nth-child(3) .form-group.view {
  margin-right: 10px;
}
.contact-info .col-6:nth-child(2) .form-group.view {
  margin-right: 10px;
}
.contact-info .col-3:nth-child(1) .form-group.view {
  margin-left: 10px;
}
.contact-info .col-4:nth-child(1) .form-group.view {
  margin-left: 10px;
}
.contact-info .col-6:nth-child(1) .form-group.view {
  margin-left: 10px;
}
.contact-info .col-3:last-child .view,
.contact-info .col-4:last-child .view,
.contact-info .col-6:last-child .view {
  border-right: none;
  display: flex;
  flex-direction: column;
}
.contact-info formly-field:last-child {
  width: 100%;
}
.invalid-feedback {
  font-size: 12px !important;
}
.select-field {
  /* padding: 0px 5px;
  border: 0.0625rem solid #e0e0e0; */
  font-size: 12px;
  border-radius: 0;
  height: 29px;
}
.btn-green {
  background: #00ae8e !important;
}
zc-block-tree-node.block.col-4.grid-list-right {
  flex: none;
  width: 275px;
}
zc-text input.form-control {
  display: block;
  width: 100%;
  background-color: #fff;
  background-image: none;
  border: 0.0625rem solid #ccc;
  font-size: 12px;
  color: #221f60 !important;
  line-height: 1.5 !important;
  height: 29px;
  border-radius: 0;
}
.col-12.filter-position-top {
  flex: none;
  position: relative;
  display: block;
  /* width: 280px; */
  background: transparent;
  z-index: 1;
}
.ui-g-12 label {
  font-size: 12px;
  margin-top: 0px;
  color: #606060 !important;
  font-family: "Roboto-Regular" !important;
  display: inline-block;
}
.ui-g.ui-fluid.ui-fluid-filters-div {
  width: 100% !important;
}
.filter-footer[_ngcontent-c10] {
  display: flex;
  align-items: center;
  background-color: transparent !important;
}
/* .ui-state-default {
  border: 1px solid #a9a9a9 !important;
} */
.ui-table .ui-table-wrapper table {
  border-collapse: separate;
  border-spacing: 0px 4px;
  width: 100%;
  table-layout: fixed;
  border: none;
  background-color: transparent;
  margin-top: -6px;
}
.ui-table .ui-table-wrapper .ui-table-thead tr th {
  font-size: 13px;
  font-weight: normal !important;
  padding-bottom: 8px !important;
  padding-top: 8px !important;
  border: none;
  background-color: #a5a5be !important;
  color: #fff !important;
  vertical-align: top;
  line-height: 14px;
  background-repeat: no-repeat;
  background-position: center right;
  text-align: left;
  /* padding-left: 20px !important; */
}
.ui-table .ui-table-wrapper .ui-widget,
.ui-table .ui-table-wrapper .ui-widget * {
  box-sizing: border-box;
  background: none !important;
  color: #4bb6e7;
}
/* .zc-widget-data-list {
  margin-top: 10px;
}
.zc-widget-data-list .ui-table-tbody {
  margin-top: 10px;
} */

body .ui-paginator .ui-paginator-first,
body .ui-paginator .ui-paginator-prev,
body .ui-paginator .ui-paginator-next,
body .ui-paginator .ui-paginator-last {
  color: #4bb6e7;
}
body .ui-paginator .ui-paginator-pages .ui-paginator-page {
  height: 2em;
  min-width: 2em;
  line-height: 2em;
}
/* .ui-state-default {
  border: none !important;
} */
body .ui-paginator .ui-paginator-first,
body .ui-paginator .ui-paginator-prev,
body .ui-paginator .ui-paginator-next,
body .ui-paginator .ui-paginator-last {
  color: #a5a5be;
  height: 2em;
  min-width: 2em;
  line-height: 2em;
  border: none !important;
  opacity: 1;
}

.client-stage-view-bar {
  background: #afafc7;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  margin-bottom: 15px;
  text-align: right;
}
.client-stage-view-bar .form-group.view {
  margin-bottom: 0;
}
.last-modified-text {
  padding-right: 5px;
  color: #fff;
}
.zc-form-add-btn .row {
  margin: 0;
}
.zc-form-add-btn i.icon-ellipsis-v {
  position: absolute;
  top: 50%;
  margin-top: -8px;
}
.zc-form-add-btn .dropdown-item i.btn {
  padding: 0 10px;
}
.grid-list-right.temporary-cls {
  background-color: #fff;
}
.grid-list-right zc-form h3 {
  background: #b9bace none repeat scroll 0 0;
  color: #fff;
  font-size: 13px;
  padding: 8px 10px;
  text-align: center;
}
.grid-list-right .white-bg {
  min-height: calc(100vh - 230px) !important;
}
.stage-form-widget .grid-list-right .white-bg {
  min-height: calc(100vh - 130px) !important;
}

.darkcolor {
  color: #221f60 !important;
}
.text-line {
  white-space: nowrap;
  width: 99.5%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.label-text {
  color: #a0a0a0;
  font-size: 12px;
  line-height: 15px;
  display: block;
}
.field .label-text {
  color: #221f60 !important;
}

.field div span i {
  color: #a0a0a0;
  padding-right: 5px;
}
body .ui-dropdown .ui-dropdown-trigger {
  line-height: inherit !important;
}
.zc-form-add-btn i.btn {
  padding: 5px !important;
}
.zc-form-add-btn {
  float: left;
  text-align: left;
  display: block;
  width: 100%;
}
.p-contain .block.row.col-12 {
  padding: 0;
  margin: 0;
}
.name-first-letter {
  display: inline-block;
  margin: 0;
  border-radius: 50%;
  background-color: chocolate;
  color: #fff;
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.qlana-left-tabs .mat-tab-header,
.qlana-left-tabs .mat-tab-nav-bar {
  border-bottom: 0;
}
.qlana-left-tabs .mat-tab-label.mat-ripple {
  min-width: 58px;
  padding: 0 10px;
  border-right: 1px solid rgb(216, 218, 230);
  border-top: 2px solid #b7b7cc;
  padding: 4px 0px;
  background: #b7b7cc;
  color: #fff;
  display: table-cell;
  width: 1%;
  vertical-align: middle;
}
.qlana-left-tabs .mat-tab-label.mat-ripple i {
  font-size: 20px;
  padding-right: 0 !important;
}
.qlana-left-tabs .mat-tab-label.mat-ripple.mat-tab-label-active {
  background: #fff;
  color: #32316b;
  border-top: 2px solid red;
}
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: transparent;
}
.qlana-left-tabs .mat-tab-labels {
  display: table;
}
.qlana-left-tabs .mat-tab-label.mat-ripple:last-child {
  border-right: 0px;
}
body .ui-widget {
  font-size: 12px;
}
.mat-tab-label {
  opacity: 1;
}

.custome-table-add-btn .table-group-action {
  text-align: right;
  margin-bottom: 10px;
  position: absolute;
  top: -5px;
  right: 15px;
}
.table-group-action .btn-outline-primary {
  background-color: #221f60;
  border-color: #221f60;
  padding: 2px 8px !important;
  color: #fff;
}
.table-group-action .btn-outline-primary:hover {
  background-color: #413c9c;
  border-color: #413c9c;
}
.table-group-action .btn-outline-primary:active,
.table-group-action .btn-outline-primary:focus {
  background-color: #221f60;
}

.modal-body {
  padding: 0 !important;
}
.modal-body form {
  padding: 20px;
}
.ui-calendar {
  /* border: 1px solid #ccc; */
  width: 100%;
}
body .ui-calendar.ui-calendar-w-btn .ui-inputtext {
  width: calc(100% - 3.3em);
  height: 29px;
}
body .ui-calendar.ui-calendar-w-btn .ui-datepicker-trigger.ui-button {
  height: 29px;
  background: #eaeaea !important;
}
zc-radio,
zc-checkbox {
  display: flex;
}
zc-radio > div,
zc-checkbox > div {
  display: flex;
  padding-top: 6px;
}
zc-radio > div .custom-radio,
zc-checkbox > div .custom-radio,
zc-radio > div .custom-checkbox,
zc-checkbox > div .custom-checkbox {
  padding-right: 1.5rem;
  padding-left: 1.5rem !important;
}

.custom-checkbox .custom-control-label::before,
.custom-radio .custom-control-label::before,
.custom-checkbox .custom-control-label::after,
.custom-radio .custom-control-label::after {
  top: 0rem;
  width: 18px;
  height: 18px;
  left: -1.5rem;
}
.custom-checkbox .custom-control-label,
.custom-radio .custom-control-label {
  font-size: 13px !important;
}
body .ui-datepicker table td {
  padding: 1px;
}

.pi-caret-right:before {
  content: "\e1d6";
  font-family: tssFont;
}
.pi-caret-left:before {
  content: "\e1d5";
  font-family: tssFont;
}
.pi-step-backward:before {
  content: "\e1d1";
  font-family: tssFont;
}
.pi-step-forward:before {
  content: "\e1d2";
  font-family: tssFont;
}
.upload-files-list span {
  font-size: 12px;
}
.form-group label .required-star {
  color: #f00;
}

/* credit rating */
.credit-rating {
  padding: 2px 5px;
  background: #ccc;
  font-size: 14px;
  color: #fff !important;
  display: inline-block !important;
}
.red-bg {
  background: red !important;
}
.blue-bg {
  background: #12325a !important;
}
form formly-form formly-field formly-wrapper-form-field zc-button button.btn.btn-primary.complete-view-btn {
  color: #fff;
  background: #00a6ff;
  font-size: 12px;
  border: none;
  padding: 5px 8px !important;
  float: right;
  display: flex;
  align-items: center;
}
form formly-form formly-field formly-wrapper-form-field zc-button button.btn.btn-primary.complete-view-btn i {
  font-size: 18px;
  margin-right: 3px;
}

zc-data-list-table .filter-position-top .zc-data-list-filters {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  float: right;
  min-width: 300px;
  border-radius: 0;
}
.filter-position-top::after,
.filter-position-top::before {
  clear: both;
  display: block;
  content: "";
}
zc-data-list-table .filter-position-top .zc-data-list-filters .ui-fluid-filters-div {
  flex: auto;
  border-bottom: none !important;
  padding: 0 !important;
}
.zc-data-list-filters input {
  color: #221f60 !important;
  line-height: 1.5 !important;
  height: 29px;
}
.zc-data-list-filters button.ui-button {
  height: 30px;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.zc-data-list-filters label {
  display: none;
}
zc-data-list-table .filter-position-top .filter-footer {
  display: none;
}
.zc-data-list-filters .ui-g-12 {
  padding-right: 0;
  padding-top: 0;
}
.ui-g {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
zc-data-list-table .filter-position-top .filter-footer {
  background-color: transparent !important;
  justify-content: flex-end;
  flex: auto;
  max-width: 95px;
}

/* tabs view styles */
.t-box {
  padding: 5px 10px 5px;
  position: relative;
  background: #f9f9fb;
  border: 1px solid #e2e2e2;
  margin-bottom: 8px;
  margin-top: 10px;
}
.t-box::before {
  content: "";
  width: 100%;
  height: 100%;
  border-left: 2px solid #ccc;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}
.attachment-box::before {
  border-left-color: #eb5e12;
}
.t-box-top {
  position: relative;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.p0 {
  padding: 0;
}
.t-icon {
  position: absolute;
  left: 0;
  /* overflow: hidden; */
  width: 28px;
  text-align: center;
  top: 0;
}
.t-icon span {
  display: block;
}
.t-box-top {
  position: relative;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.t-content {
  padding-left: 30px;
  min-height: 30px;
  font-size: 12px;
}
.mb5 {
  margin-bottom: 5px;
}
.pt2 {
  padding-top: 2px;
}
.t-content h4 {
  font-size: 12px;
  margin: 0;
}
.ash {
  color: #a9aaae !important;
}
.t-content p {
  margin: 2px 0;
}
.sky-blue {
  color: #01aef0 !important;
}
.t-box-bottom {
  font-size: 12px;
  height: 12px;
}
.attachment-box .t-icon i {
  color: #eb5e12;
}
zc-tabs zc-data-list .list-container{
  margin-top: 10px !important;
}
.list-container .zc-table-header {
  border-bottom: 2px solid #d8dbe6;
}
.list-container .zc-table-header h2{
  font-size: 13px !important;
}
.zc-table-form{
  padding: 0;
}
.touch-point-form {
  margin: 10px 0 0 0;
  background-color: #EEEDF5;
  padding: 10px 0;
}
/* tabs styles ended here */

.form-parent-div {
  padding-top: 15px;
}

/* captcha styles */
.rembemer-me-checkbox .form-group {
  margin-bottom: 10px !important;
}
.captcha-div .form-group {
  margin-bottom: 10px !important;
  color: #fff;
}
.refresh-captcha {
  padding-right: 10px;
}
.captcha-icon {
  background-color: #fff;
  color: #fff;
}
.captcha-div div {
  font-size: 13px;
  max-width: 100% !important;
}
.cant-login-text a,
.cant-login-text a:hover,
.cant-login-text a:active,
.cant-login-text a:focus {
  color: #fff;
}
.breadcrumb-left .back-btn {
  position: absolute;
  right: 0;
  font-size: 14px;
  font-weight: bold !important;
  color: rgba(255, 255, 255, 0.5);
  opacity: 0.6;
  background: transparent;
  padding: 10.5px 10px;
  top: 0;
}
.breadcrumb-left .back-btn::before {
  content: "\e028";
}
.breadcrumb-left .back-btn:hover {
  background: #75759b;
  opacity: 1;
}
.f11{
  font-size: 11px;
}
.list-items{
  padding: 0;
}
.list-items li{
  list-style-type: none;
}
.list-items li div.touch-attacment-box {
  padding: 5px 10px;
}
.list-items p{
  color: #221f60;
  font-size: 12px;
}

/* custom scroll */
/* width */
.ui-table-scrollable-body::-webkit-scrollbar {
  width: 5px;
}
/* Track */
.ui-table-scrollable-body::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
.ui-table-scrollable-body::-webkit-scrollbar-thumb {
  background: #888; 
}
/* Handle on hover */
.ui-table-scrollable-body::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/*raja styles*/
.zc-files-list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.zc-files-list li{
  padding: 10px;
  background-color: #e8ebee;
  margin-top: 5px;
  border-radius: 5px;
}
@media (max-width: 1442px) {
  .qlana-left-tabs .mat-tab-label.mat-ripple {
    min-width: 2.76em;
    height: 36px;
  }
  .qlana-left-tabs .mat-tab-label.mat-ripple i {
    font-size: 16px;
  }
}

@media (max-width: 1367px) {
  .qlana-left-tabs .mat-tab-label.mat-ripple {
    min-width: 2.76em;
    height: 36px;
  }
  .qlana-left-tabs .mat-tab-label.mat-ripple i {
    font-size: 14px;
  }
}
@media (max-width: 1241px) {
  .qlana-left-tabs .mat-tab-label.mat-ripple {
    min-width: 2em;
    height: 30px;
  }
  .qlana-left-tabs .mat-tab-label.mat-ripple i {
    font-size: 12px;
  }
}
@media (min-width: 1401px) {
  .about-widget {
    padding-left: 200px;
  }
  .about-widget p.about-the-survey {
    left: 45px;
  }
}
@media (min-width: 1900px) {
  .about-widget {
    padding-left: 250px;
  }
}
@media (max-width: 1400px) {
  .login-container .block zc-com-render:nth-child(2) #wdLoginForm_form .btn-primary {
    padding: 2px 20px !important;
  }
}

.qlana-stage-next-previous {
  position: absolute;
  right: 0px;
  padding: 10px;
  z-index: 1000;
}