.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

/*  */
.sidenav-container {
  height: 100%;
}
.sidenav {
  // background-color:  #58676e;
  background: #324851 !important;
  width: 210px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

.mat-toolbar {
  // box-shadow: 0px 1px 10px 1px #354c58 !important;
  box-shadow: 0px 1px 10px 1px #39545f !important;
  // background-color: #354c58 !important;
  background: #39545f !important;
}
